{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="twelve columns">
         {% block hwi_oauth_content %}
         {% endblock hwi_oauth_content %}   
	</div>
</div>
{% endblock %}