{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Shows{% endblock %}

{% block option_links %}
     {% render url('acts_camdram_entity_toolbar', {type: 'show'}) %}
{% endblock %}

{% block body %}

    <div class="row">

    </div>

{% endblock %}

