{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Shows{% endblock %}

{% block body %}
    <div class="row">
        {% render url('acts_camdram_entity_toolbar', {type: 'show'}) %}
    </div>

    <div class="row">

    </div>

{% endblock %}

