{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Show: Create{% endblock %}

{% block body %}

<div class="row" id="show_form">
    <div class="twelve columns">
    <h3>Create a new show</h3>
    <div class="panel">
        <p>Required fields are marked with an asterisk (*). You can change any field later, except Society  
        (please contact us if the society changes). Once the show is created you'll be able to add a 
        publicity image (please ensure you have permission to use it!).</p>
        
        <p>Write a Description with the general public in mind - what is this show and why 
        should somebody come to see it? You can add auditions and production team vacancies 
        separately once the show is created; they don't need to be mentioned here.</p>
        {% if not is_granted('APPROVE', form.vars.data) %}
            <p>When you click 'create', it will be sent to a moderator, who it check it over before it 
            appears on Camdram.</p>
        {% endif %}
    </div>
    <form action="{{ path("post_show") }}" method="post" class="">

        {% include 'ActsCamdramBundle:Show:form.html.twig' %}

        <div class="text-right">
            <input type="submit" value="Create" class="button"/>
        </div>
    </form>
    </div>
</div>

{% endblock %}
