{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'vacancies' %}
{% block title %}Technical Team Advert - New{% endblock %}

{% block body %}

{% set current_subnav_id = 'new_techie_advert' %}
{{ render(controller('ActsCamdramBundle:Show:adminPanel', {show: form.vars.value.show})) }}

<div class="row">
    <div class="large-12 columns">
        <h3>Add Technical Team Advert</h3>

        <div class="panel">
            <p>Use the form below to create an advert for one or more technical positions on your show.</p>
            <p>By default, no deadline will be displayed, but adverts will expire after 10 days (you will receive an email notification in advance).
                If you would like to advertise a specific deadline, please check the box below and enter a date and time.</p>
            <p>The CUADC Technical Director, Technicians' Rep and Stage Managers' Rep aim to send out the Techies' mailing list with all the current technical vacancies on Camdram once a week during full term. The Designers' Rep aims to send the Designers' mailing list with all the current design vacancies on Camdram on a similar timetable. For more information they can be contacted on <a href=mailto:td@cuadc.org> td@cuadc.org </a>, <a href=mailto:technician@cuadc.org> technician@cuadc.org </a>, <a href=mailto:sm@cuadc.org> sm@cuadc.org </a> or <a href=mailto:designer@cuadc.org> desginer@cuadc.org </a> </p>
        </div>

        <form action="{{ path("post_show_techie_advert", {identifier: form.vars.value.show.slug}) }}" method="post">
            {{ include('ActsCamdramBundle:Show:techie-advert-form.html.twig') }}
            <div class="row">
                <div class="large-6">

                </div>
                <div class="large-6 text-right">
                    <input type="submit" value="Create" class="button"/>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
