{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'infobase' %}
{% block title %}Infobase{% endblock %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
        <h2>Infobase</h2>
        <div class="panel">
            <p>The new version of the Camdram Infobase is not yet ready (we're working on it!).</p>
        </div>
    </div>
</div>
{% endblock %}
