{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'venues' %}
{% block title %}Venue - New{% endblock %}

{% block body %}

<div class="row">
    <h3>New Venue</h3>
    <form action="{{ path("acts_camdram_venue_post") }}" method="post">
        {{ form_widget(form) }}
        <div class="text-right">
            <input type="submit" value="Create" class="button"/>
        </div>
    </form>
</div>

{% endblock %}
