{% extends 'layout.html.twig' %}

{% block title %}Connect account{% endblock %}

{% block body %}
<h3>Connect Account</h3>
<p>Successfully connected the {{ service | capitalize }} account {{ userInformation.email }}</p>
<p><a href="{{ path('get_account') }}" class="button">Account settings</a></p>
{% endblock body %}
