<h5>API Authorizations</h5>
{%- set authorizations = app.user.getAuthorizations() -%}
{%- if authorizations is empty -%}
    <p>No websites or apps currently have access to your Camdram data.</p>
{%- elseif authorizations|length == 1 -%}
    <p>The following website/app has access to your Camdram data:</p>
{%- else -%}
    <p>The following websites/apps have access to your Camdram data:</p>
{%- endif -%}

{%- for authorization in authorizations -%}
    {%- if not loop.first -%}<hr />{%- endif -%}
    <div class="split-header">
        <h6>{{ authorization.client.name }}</h6>
        <form action="{{ path("revoke_account_authorization", {id: authorization.client.id}) }}" method="POST">
            <input type="hidden" name="_method" value="delete"/>
            <input type="submit" value="Revoke" class="button small"/>
        </form>
    </div>
    <p>App description: <i>{{ authorization.client.description | nl2br }}</i></p>
    <p>This application is authorized to {{ authorization.scopes | explain_oauth_scopes | join(', ', ', and ') }}.</p>
{%- endfor -%}
