<form action="{{ path('change_account_email') }}" method="post">
    {{ form_row(form.email) }}
    {{ form_rest(form) }}
    <div class="text-center">
        <input type="submit" class="button small" value="Change" />
    </div>
</form>
