{% extends 'layout.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
<h2>News</h2>

<div class="row">
    {% for item in news %}
        <h3><a href="{{ path('get_entity', {slug: item.entity.slug}) }}">{{ item.entity.name }}</a> ({{ item.source }})</h3>
        {% include 'news/item.html.twig' %}
    {% endfor %}
</div>

{% endblock %}
