{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}An Error Occurred: {{ status_text }}{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns">
        <h1>Sorry, something's gone wrong</h1>
        <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

        <p>
            Something is broken. Please e-mail us at <a href="mailto:websupport@camdram.net">
            websupport@camdram.net</a> and let us know
            what you were doing when this error occurred. We will fix it as soon
            as possible. Sorry for any inconvenience caused.
        </p>
    </div>
</div>
{% endblock %}

