{% spaceless %}
<li>
    <a href="{% if item.path is defined %}{{ item.path }}{% else %}#{% endif %}">
        {% if item.icon is defined %}<i class="fa fa-{{ item.icon }} fa-fw"></i>{% endif %}
        {{ item.text }}
    </a>
</li>
{% endspaceless %}