<div class="admin-panel">
    <ul class="inline-list">
        {{ include('@ActsCamdram/Navigation/nav-item.html.twig', {item: {id: 'edit_person', path: path('edit_person',{identifier:person.slug}), icon: 'pencil', text: 'Edit profile'} }) }}
        {% if is_granted('DELETE', person) %}
            {{ include('@ActsCamdram/Navigation/nav-item.html.twig', {item: {id: 'delete_person', path: path('remove_show',{identifier:person.slug}), icon: 'eraser', text: 'Delete profile'} }) }}
        {% endif %}
    </ul>
</div>