{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}People{% endblock %}

{% block body %}
    <div class="row">
        {{ render(url('acts_camdram_entity_toolbar', {type: 'person'})) }}
    </div>

    <div class="row">

    </div>

{% endblock %}
