
.uploadify {
  position: relative;
  margin-bottom: 1em;
  display:inline-block;
}
.uploadify-button {
  width: auto;
  background: #fe5c1f;
  border: 1px solid #d03901;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  width: 100%;
  margin-top:1px;
}
.uploadify-button-text {
  padding: 10px 20px 11px;
}
.uploadify:hover .uploadify-button {
  color: white;
  background-color: #e94001;
}
.uploadify-button.disabled {
  background-color: #D0D0D0;
  color: #808080;
}
.uploadify-queue {
  float:right;
  width:300px;
}
.uploadify-queue-item {
  background-color: #F5F5F5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font: 11px Verdana, Geneva, sans-serif;
  margin-top: 5px;
  max-width: 350px;
  padding: 10px;
}
.uploadify-error {
  background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
  background: url('../../hoyesimagemanager/images/uploadify-cancel.png') 0 0 no-repeat;
  float: right;
  height:	16px;
  text-indent: -9999px;
  width: 16px;
}
.uploadify-queue-item.completed {
  background-color: #E5E5E5;
}
.uploadify-progress {
  background-color: #E5E5E5;
  margin-top: 10px;
  width: 100%;
}
.uploadify-progress-bar {
  background-color: #0099FF;
  height: 3px;
  width: 1px;
}

.uploadify-preview img {
  margin-bottom:1em;
}

.uploadify-remove {
  margin-bottom:0.5em;
  margin-right:10px;
}