$background-color: #fff9e3;
$white: #fff;
$orange: #fe5c1f;
$dark-grey: #3a393a;
$light-grey: #666;

$primary-color: $orange;
$secondary-color: #f00;

$topbar-height: 40px;
$topbar-bg: $dark-grey;
$topbar-margin-bottom: 0;
$topbar-link-bg-hover: $light-grey;
$topbar-link-font-size: 0.9em;
$topbar-link-weight: normal;

$section-border-color: #e6e6e6;

@import "foundation";

$footer-height: emCalc(160);
$footer-height-mobile: emCalc(350);

@mixin brighten($factor) {
  filter: brightness($factor);
  -webkit-filter: brightness($factor);
  -moz-filter: brightness($factor);
  -o-filter: brightness($factor);
  -ms-filter: brightness($factor);
}

.top-bar-section {
  max-width:$row-width;
  margin:auto;

  ul li.active > a:hover {
    background:inherit;
    cursor:default;
  }
}

html, body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  margin-bottom: -$footer-height;

  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
}

body {
  background:$background-color;
}

header {
  background:$orange;
  clear:both;
}

#wrapper > section {
  max-width:$row-width;
  margin:auto;
  padding: 0 emCalc(15) emCalc(20) emCalc(15);
  min-height:100%;
  background:$white;

  &:before {
    content: "";
    position:absolute;
    width:100%;
    max-width:$row-width;
    background:$white;

    bottom:0;
    top:0;
    z-index:-1;

    @media #{$medium} {

      left:50%;
      margin-left:-$row-width / 2;
    }
  }
}

#content {
  p, li {
    font-size: emCalc(14);
  }

  ul.list {
    margin-left: 1em;
  }
}

footer {
  background:$dark-grey;
  color: $white;
  height:$footer-height-mobile;
  @media #{$small} {
    height: $footer-height;
  }
   h5 {
    color: $white;
   }
  p {
    text-align:center;
    margin:auto;
    color:white;
    padding:10px 0;
    font-size:0.9em;
  }
}

header .logo {
  text-align: center;
  @media #{$small} {
    height:80px;
    background:url('../../images/header_separator.png') center right no-repeat;
  }
}

header .search {
  background: #fff;
  padding-top: 20px;
  @media #{$small} {
    height:80px;
    padding-left:30px;
    padding-right:30px;
    background:url('../../images/header_separator2.png') center right no-repeat #fff;
  }
}

//Search box / autocomplete

#search_form {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 4px #888;
  background:#fff;
  z-index:50;
  position:relative;
}

#search_form .ui-autocomplete {
  position:static;
  width:auto;
  border:none;
  background:#fff;
  margin:8px;
}

#search_form .ui-autocomplete a {
  border-top:1px solid #ddd;
  padding:3px;
  border-radius:0;
}

#search_form .ui-autocomplete a.ui-state-focus {
  background:#f0f0f0;
  border:none;
  border-top:1px solid #ddd;
  color:#000;
  margin:0;
}

header .search input[type=search] {
  border:none;
  padding:0 15px 0 32px;
  margin: 3px 3px 3px 12px;
  outline:none;
  background:url('../../images/search.png') left center no-repeat;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
}
header input[type=search]:focus {
  outline:none;
  background:url('../../images/search.png') left center no-repeat;
  border:none;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
}

.dropdown {
  position:absolute;
  top:9999px;
  z-index:99;
}

#account-link img {
  margin-right:3px;
  box-shadow: 0 0 3px #fff;
  margin-top:-7px;
  margin-bottom:-4px;
}

ul.dropdown {
  $default-float: right;
  @include dropdown-container(list, true, 300px);
  margin:0;
  width:auto;
  list-style:none;

  a {
    padding:0.2em 0.8em;
    display:block;
    &:hover {
      background:#eee;
    }
  }

}

#login-dropdown {
  width:300px;
  background:$light-grey;
  color:white;
  font-size:0.8em;
  padding-top:1em;

  a, label {
    color: white;
    font-size:1em;
  }

  .button {
    margin-bottom:0;
  }
}

#header-bar {
  background:#3a393a;

  section {
    max-width:$row-width;
    margin:auto;

    &:after {
      content:" ";
      clear:both;
      height:0;
      display:block;
    }


    > ul {
      margin:0;

      > li {
        color: white;

        > a {
          color: white;
          display:inline-block;
          padding: 7px 15px;
          font-size:0.8em;
          font-weight:bold;

          &.icon-link {
            padding:7px 3px;

            &:hover {
              @include brighten(1.5);
            }
          }
        }

        &#login-link {
          padding-right:5px;

          > a {
            padding-right:5px;
          }
        }

        &:hover {
          background: $light-grey;
        }
        display:block;
        float:left;
      }
    }
  }
}

$panel-font-color-alt: #f00;
.error_panel {
  @include panel(rgba(198, 15, 19, 0.1));
}

@import "forms";
@import "home";
@import "diary";
@import "venues";
@import "entities";
@import "uploadify";