/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */


body {
    background:#fff9e3;
}

.row .nav-bar form .row {
    margin:4px;
}

@media only screen and (max-width: 767px) {
    .nav-bar form .row {
        padding-top:17px;
    }
}

section {
    background:#fff;

}

.nav-bar button {
    padding:8px;
}

.news_link p {
    font-size:80%;
}
.row .news_link.panel {
    padding:10px;
    margin-bottom:10px;
}

.news_link h6 {
    margin:0;
}

.news_link .columns {
    padding:0 3px;
    margin-top:5px;
    margin-bottom:7px;
}

#news_container .news_social_links {
    margin-bottom:0;
}

.form_map_container {
    margin-bottom:12px;
}

.form_map {
    width:100%;
    height:200px;
    box-sizing: border-box
}

.form_map_container small {
    text-align: right;
    display:block;
    font-size:12px;
    font-style:italic;
    margin-bottom:8px;
    color:#777;
}

.no-js .form_map {
    display:none;
}

.no-js .form_map_container small {
    display:none;
}

.form_map_container img {
    max-width: none;
}

form textarea {
    min-height:200px;
}

#main_search_autocomplete {
    width:200px;
}

.autocomplete_item small {
    padding:3px;
    margin-right: 5px;
    font-size:10px;
    background: #0070a3;
    color:#fff;
    border-radius: 3px;
}

.entity_type {
    background: #0070a3;
    color:#fff;
    border-radius: 3px;
    padding:4px;
    float:right;
    margin-left:7px;
}

.autocomplete_input {
    max-width:300px;
}

ul.entity_collection_list {
    list-style:none;
}

ul.entity_collection_list .template {
    display:none;
}

a.entity_collection_remove {
    margin-left:10px;
}

header {
    background:#fe5c1f;
}

.top-bar {
    margin-top:0;
    margin-bottom:0;
    background: #3a393a;
}

nav {
    background:#3a393a;
}
nav .nav-bar {
    max-width:960px;
    margin:auto;
    background:inherit;
}

.nav-bar > li, .nav-bar > li:last-child {
    border:none;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
}

.nav-bar > li:hover {
    background:#222222;
}

.nav-bar > li.active {
    background:#000000;
    border-color:#000000;
}
.nav-bar > li.active:hover {
    background:#000000;
}

header .logo {
    background:url('../../images/header_separator.png') center right no-repeat;
    height:80px;
}

header .search {
    height:80px;
    background:url('../../images/header_separator2.png') center right no-repeat #fff;
}

header .search input {
    border:none;
    height:28px;
    margin: 22px 0 0 22px;
    padding:5px 15px 5px 45px;
    width: 562px;
    outline:none;
    background:url('../../images/search_background.png') center no-repeat;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
}
header .search input:focus {
    outline:none;
    background:url('../../images/search_background.png') center no-repeat;
    border:none;
}

section {
    max-width:960px;
    margin:auto;
}

section ul {
    margin-left:1.5em;
}

footer #sitemap {
    background:#fff;
    max-width:960px;
    margin:auto;
    padding:0 30px 15px 30px;
}

footer #copyright {
    background:#3a393a;
    margin:0;
}
footer #copyright p {
    max-width:960px;
    text-align:center;
    margin:auto;
    color:white;
    padding:10px 0;
}

/* -----------------------------------------
   Home Page
----------------------------------------- */

#this_week dd a {
    padding: 0 5px;
}

#home_statistics {
    text-align:right;
    font-style:italic;
    line-height:150%;
}
#home_statistics strong {
    font-size:150%;
}

#home_vacancies ul {
    border-top:1px solid #eee;
    list-style:none;
    margin:0;
}
#home_vacancies li {
    border-bottom:1px solid #eee;
    padding:5px 0;
}

/*---------------------------------------
   Entities
-----------------------------------------*/

#entity_news {
    height:500px;
    overflow-y:scroll;
    overflow-x:hidden;
    padding:10px;
    padding-right:15px;
    border: 1px solid #AAA;
}

#entity_news p {
    font-size:10px;
}

#entity_news h6 {
    font-size:11px;
}

img.has_media {
    cursor: pointer;
}


/* -----------------------------------------
   Venues
----------------------------------------- */

.small_map {
    height:270px;
}

.large_map {
    height:300px;
}

@media only screen and (max-width: 767px) {
    .large_map {
        height: 250px;
    }
}


#venues_list .marker_column {
    text-align: center;
    margin-top:15px;
}

#venues_list .marker_img {
    cursor: pointer;
}