/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */


.news_link p {
    font-size:80%;
}
.row .news_link.panel {
    padding:10px;
    margin-bottom:10px;
}

.news_link h6 {
    margin:0;
}

.news_link .columns {
    padding:0 3px;
    margin-top:5px;
    margin-bottom:7px;
}

#news_container .news_social_links {
    margin-bottom:0;
}

.form_map_container {
    margin-bottom:12px;
}

.form_map {
    width:100%;
    height:200px;
    box-sizing: border-box
}

.form_map_container small {
    text-align: right;
    display:block;
    font-size:12px;
    font-style:italic;
    margin-bottom:8px;
    color:#777;
}

.no-js .form_map {
    display:none;
}

.no-js .form_map_container small {
    display:none;
}

.form_map_container img {
    max-width: none;
}

form textarea {
    min-height:200px;
}

#main_search_autocomplete {
    width:200px;
}

.autocomplete_item small {
    padding:3px;
    margin-right: 5px;
    font-size:10px;
    border-radius: 3px;
}

.entity_type {
    background: #fe5c1f;
    border-radius: 3px;
    padding:4px;
    float:right;
    margin-left:7px;
    color:#fff;
}

a .entity_type, a small {
    color:#fff;
}

.entity_show {
    background: #ffe500;
    color:#333;
}

a .entity_show {
    color:#333;
}

.entity_person {
    background: #fe5c1f;

}

.entity_society {
    background: #6a1faa;
}

.entity_venue {
    background: #bc001f;
}

.autocomplete_input {
    max-width:300px;
}

ul.entity_collection_list {
    list-style:none;
}

ul.entity_collection_list .template {
    display:none;
}

a.entity_collection_remove {
    margin-left:10px;
}

header {
    background:#fe5c1f;
}

.top-bar {
    margin-top:0;
    margin-bottom:0;
    background: #3a393a;
}

nav {
    background:#3a393a;
}
nav .nav-bar {
    max-width:960px;
    margin:auto;
    background:inherit;
}

.nav-bar > li, .nav-bar > li:last-child {
    border:none;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
}

.nav-bar > li:hover {
    background:#222222;
}

.nav-bar > li.active {
    background:#000000;
    border-color:#000000;
}
.nav-bar > li.active:hover {
    background:#000000;
}

.top-bar ul > li.has-dropdown .login-flybox {
    width:300px;
    padding:0;
}
.login-flybox form {
    padding:0 10px 5px 10px;
    background-color:#ddd;
    margin:0;
}
.top-bar ul > li.has-dropdown .login-flybox a {
    display:inline;
    font:inherit;
    height:auto;
    line-height:inherit;
    padding:0;
}
.top-bar ul > li.has-dropdown .login-flybox a:after {
    display:none;
}

header {
    position:relative;
}

header .logo {
    background:url('../../images/header_separator.png') center right no-repeat;
    height:80px;
}

header .search {
    height:80px;
    background:url('../../images/header_separator2.png') center right no-repeat #fff;
}

/* Start: Autocomplete */

.autocomplete {
    width: 580px;
    height: 40px;
    border-radius:20px;
    border: 1px solid #666;
    margin-top:20px;
    margin-left:30px;
    /* Transitions */
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -kthtml-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.autocomplete.active {
    border: 1px solid #08F;
    box-shadow: 0 0 5px #0AF;
}

.autocomplete i {
    font-size:25px;
    line-height:40px;
    vertical-align:middle;
    padding-left:10px;
    width:30px;
}

.autocomplete .status-icon {
    position:absolute;
    box-sizing:content-box;
}

.autocomplete i.icon-spinner {
    color:#039;
}

.autocomplete .searchform {
    position:absolute;
    margin-left:35px;
}

.autocomplete .searchfield {
    width: 530px;
    height: 40px;
    border: none !important;
    box-shadow: none;
    margin: none;
    padding: none;
    padding-right: 10px;
    line-height: 40px;
    vertical-align: middle;
    background: none !important;
    font-size: 20px;
    float: left;
}

.autocomplete .searchfield:focus { outline: none; }

.autocomplete .results {
    width:520px;
    height:0;
    display:none;
    opacity:0;
    background-color:#FFF;
    border:1px solid #666;
    position:absolute;
    margin-left:40px;
    margin-top:50px;
    border-radius:5px;
    overflow:hidden;
    z-index:100;
}

.autocomplete .results .noresults {
    font-weight:200;
    text-align:center;
    display:none;
    margin:10px 0 0 0;
    padding:0;
}

.autocomplete .results ul {
    list-style:none;
    padding:0;
    margin:0;
}

.autocomplete .results ul li {
    display:inline-block;
    width:100%;
    height:39px;
    line-height:39px;
    border-top:1px solid #CCC;
    cursor:pointer;
    margin-right:0;
}

.autocomplete .results ul li i {
    display:inline-block;
}

.autocomplete .results ul li .resultText {
    margin-left:10px;
}

.autocomplete .results ul li:nth-child(1) { border-top:none; }

.autocomplete .results ul li:nth-child(even) {
    background-color:#FCFCFC;
}

.autocomplete .results ul li:hover, .autocomplete .results ul li.active {
    background-color:#EAFAFF;
}

.autocomplete .results ul li i {
    color:#666;
}

/* End: Autocomplete */

section {
    max-width:960px;
    margin:auto;
}

section ul {
    margin-left:1.5em;
}

footer #sitemap {
    background:#3a393a;
    color:#fff;
    max-width:960px;
    margin:auto;
    padding:0 30px 15px 30px;
}

footer #sitemap h5 {
    color:#fff;
}

footer #copyright {
    background:#3a393a;
    margin:0;
}
footer #copyright p {
    max-width:960px;
    text-align:center;
    margin:auto;
    color:white;
    padding:10px 0;
}

/* Override the default panel properties. */
.panel {

}

label.required:after { content:"*"; }

select {
    width:auto;
    background:#fff;
    padding:6px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #cccccc;
}

.dropdown.custom {
    float:left;
}

.performances .performance:last-child {
    border-bottom:1px solid #ddd;
}

.performance {
    border-top:1px solid #ddd;
    padding:10px 0 0;
}

input[type=date], input[type=time] {
    width:auto;
    display:-webkit-inline-flex;
}
input[type=date] {
    max-width:150px;
}
input[type=time] {
    max-width:120px;
}

a.infinite_scroll {
    display:block;
    text-align:center;
    background:#eee;
    padding:0.8em;
    margin:0.8em 0;
    color:#333;
}
a.infinite_scroll:hover {
    background:#f0f0f0;
}


/*---------------------------------------
   Entities
-----------------------------------------*/

#entity_news {
    height:500px;
    overflow-y:scroll;
    overflow-x:hidden;
    padding:10px;
    padding-right:15px;
    border: 1px solid #AAA;
}

#entity_news p {
    font-size:10px;
}

#entity_news h6 {
    font-size:11px;
}

img.has_media {
    cursor: pointer;
}


/*--------------------------------------------
Uploadify
---------------------------------------------*/
