/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */


body {
    background:#fff9e3;
}

section {
    background:#fff;

}

.nav-bar > li.right {
    float:right;
}

ul.flyout {
    margin-top:-1px;
    width:200px;
}

ul.flyout li a, .nav-bar li ul li a {
    padding: 10px 15px;
}

.news_link p {
    font-size:80%;
}
.row .news_link.panel {
    padding:10px;
    margin-bottom:10px;
}

.news_link h6 {
    margin:0;
}

.news_link .columns {
    padding:0 3px;
    margin-top:5px;
    margin-bottom:7px;
}

#news_container .news_social_links {
    margin-bottom:0;
}

.form_map_container {
    margin-bottom:12px;
}

.form_map {
    width:100%;
    height:200px;
    box-sizing: border-box
}

.form_map_container small {
    text-align: right;
    display:block;
    font-size:12px;
    font-style:italic;
    margin-bottom:8px;
    color:#777;
}

.no-js .form_map {
    display:none;
}

.no-js .form_map_container small {
    display:none;
}

.form_map_container img {
    max-width: none;
}

form textarea {
    min-height:200px;
}

#main_search_autocomplete {
    width:200px;
}

.autocomplete_item small {
    padding:3px;
    margin-right: 5px;
    font-size:10px;
    border-radius: 3px;
}

.entity_type {
    background: #fe5c1f;
    border-radius: 3px;
    padding:4px;
    float:right;
    margin-left:7px;
    color:#fff;
}

a .entity_type, a small {
    color:#fff;
}

.entity_show {
    background: #ffe500;
    color:#333;
}

a .entity_show {
    color:#333;
}

.entity_person {
    background: #fe5c1f;

}

.entity_society {
    background: #6a1faa;
}

.entity_venue {
    background: #bc001f;
}

.autocomplete_input {
    max-width:300px;
}

ul.entity_collection_list {
    list-style:none;
}

ul.entity_collection_list .template {
    display:none;
}

a.entity_collection_remove {
    margin-left:10px;
}

header {
    background:#fe5c1f;
}

.top-bar {
    margin-top:0;
    margin-bottom:0;
    background: #3a393a;
}

nav {
    background:#3a393a;
}
nav .nav-bar {
    max-width:960px;
    margin:auto;
    background:inherit;
}

.nav-bar > li, .nav-bar > li:last-child {
    border:none;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
}

.nav-bar > li:hover {
    background:#222222;
}

.nav-bar > li.active {
    background:#000000;
    border-color:#000000;
}
.nav-bar > li.active:hover {
    background:#000000;
}

header {
    position:relative;
}

header .logo {
    background:url('../../images/header_separator.png') center right no-repeat;
    height:80px;
}

header .search {
    height:80px;
    background:url('../../images/header_separator2.png') center right no-repeat #fff;
}

#search_form {
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 4px #888;
    background:#fff;
    position:absolute;
    right:60px;
    top:20px;
    z-index:50;
}

#search_form .ui-autocomplete {
    position:static;
    width:auto;
    border:none;
    background:#fff;
    margin:8px;
}

#search_form .ui-autocomplete a {
    border-top:1px solid #ddd;
    padding:3px;
    border-radius:0;
}

#search_form .ui-autocomplete a.ui-state-focus {
    background:#f0f0f0;
    border:none;
    border-top:1px solid #ddd;
    color:#000;
    margin:0;
}

header .search input {
    border:none;
    padding:0 15px 0 32px;
    margin: 3px 3px 3px 12px;
    width:530px;
    outline:none;
    background:url('../../images/search.png') left center no-repeat;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
}
header .search input:focus {
    outline:none;
    background:url('../../images/search.png') left center no-repeat;
    border:none;
}

section {
    max-width:960px;
    margin:auto;
}

section ul {
    margin-left:1.5em;
}

footer #sitemap {
    background:#3a393a;
    color:#fff;
    max-width:960px;
    margin:auto;
    padding:0 30px 15px 30px;
}

footer #sitemap h5 {
    color:#fff;
}

footer #copyright {
    background:#3a393a;
    margin:0;
}
footer #copyright p {
    max-width:960px;
    text-align:center;
    margin:auto;
    color:white;
    padding:10px 0;
}

/* Override the default panel properties. */
.panel {

}

label.required:after { content:"*"; }

select {
    width:auto;
    background:#fff;
    padding:6px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #cccccc;
}

.dropdown.custom {
    float:left;
}

.performances .performance:last-child {
    border-bottom:1px solid #ddd;
}

.performance {
    border-top:1px solid #ddd;
    padding:10px 0 0;
}

input[type=date], input[type=time] {
    width:auto;
    display:-webkit-inline-flex;
}
input[type=date] {
    max-width:150px;
}
input[type=time] {
    max-width:120px;
}

a.infinite_scroll {
    display:block;
    text-align:center;
    background:#eee;
    padding:0.8em;
    margin:0.8em 0;
    color:#333;
}
a.infinite_scroll:hover {
    background:#f0f0f0;
}

/* -----------------------------------------
   Home Page
----------------------------------------- */


#home_statistics {
    text-align:right;
    font-style:italic;
    line-height:150%;
}
#home_statistics strong {
    font-size:150%;
}

#home_vacancies ul {
    border-top:1px solid #eee;
    list-style:none;
    margin:0;
}
#home_vacancies li {
    border-bottom:1px solid #eee;
    padding:5px 0;
}

#home_historic dd a {
    padding: 0 5px;
}

#home_historic ul {
    list-style:none;
    margin:0;
}

#home_historic h6 {
    margin-bottom:0;
}

#home_historic .show_info {
    font-style:italic;
}

/*---------------------------------------
   Entities
-----------------------------------------*/

#entity_news {
    height:500px;
    overflow-y:scroll;
    overflow-x:hidden;
    padding:10px;
    padding-right:15px;
    border: 1px solid #AAA;
}

#entity_news p {
    font-size:10px;
}

#entity_news h6 {
    font-size:11px;
}

img.has_media {
    cursor: pointer;
}


/* -----------------------------------------
   Venues
----------------------------------------- */

.small_map {
    height:270px;
}

.large_map {
    height:300px;
}

@media only screen and (max-width: 767px) {
    .large_map {
        height: 250px;
    }
}


#venues_list .marker_column {
    text-align: center;
    margin-top:15px;
}

#venues_list .marker_img {
    cursor: pointer;
}

/*--------------------------------------------
Uploadify
---------------------------------------------*/

.uploadify {
    position: relative;
    margin-bottom: 1em;
    display:inline-block;
}
.uploadify-button {
    width: auto;
    background: #fe5c1f;
    border: 1px solid #d03901;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
    width: 100%;
    margin-top:1px;
}
.uploadify-button-text {
    padding: 10px 20px 11px;
}
.uploadify:hover .uploadify-button {
    color: white;
    background-color: #e94001;
}
.uploadify-button.disabled {
    background-color: #D0D0D0;
    color: #808080;
}
.uploadify-queue {
    float:right;
    width:300px;
}
.uploadify-queue-item {
    background-color: #F5F5F5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: 11px Verdana, Geneva, sans-serif;
    margin-top: 5px;
    max-width: 350px;
    padding: 10px;
}
.uploadify-error {
    background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
    background: url('../../hoyesimagemanager/images/uploadify-cancel.png') 0 0 no-repeat;
    float: right;
    height:	16px;
    text-indent: -9999px;
    width: 16px;
}
.uploadify-queue-item.completed {
    background-color: #E5E5E5;
}
.uploadify-progress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}
.uploadify-progress-bar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
}

.uploadify-preview img {
    margin-bottom:1em;
}

.uploadify-remove {
    margin-bottom:0.5em;
    margin-right:10px;
}