$background-color: #fff9e3;
$white: #fff;
$orange: #fe5c1f;
$dark-grey: #3a393a;
$light-grey: #666;

$primary-color: $orange;
$secondary-color: #999;

$topbar-height: 40px;
$topbar-bg: $dark-grey;
$topbar-margin-bottom: 0;
$topbar-link-bg-hover: $light-grey;
$topbar-link-font-size: 0.9em;
$topbar-link-weight: normal;
$topbar-breakpoint: 500px;

$section-border-color: #e6e6e6;

@import "foundation";

$footer-height: emCalc(160);
$footer-height-mobile: emCalc(350);

@mixin brighten($factor) {
  filter: brightness($factor);
  -webkit-filter: brightness($factor);
  -moz-filter: brightness($factor);
  -o-filter: brightness($factor);
  -ms-filter: brightness($factor);
}

.top-bar-section {
  max-width:$row-width;
  margin:auto;

  ul li.active > a:hover {
    background:inherit;
    cursor:default;
  }
}

html, body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  margin-bottom: -$footer-height;

  &:before {
    content: "";
    position:absolute;
    display:block;
    max-width:$row-width;
    background:$white;
    width:100%;
    padding: 0 emCalc(15);
    box-sizing:border-box;

    bottom:0;
    top:120px;
    z-index:-5;

    @media only screen and (min-width: $row-width) {
      left:50%;
      margin-left: $row-width * -0.5;
    }
  }

  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
}

body {
  background:$background-color;
}

header {
  background:$orange;
  clear:both;
}

#wrapper > section {
  max-width:$row-width;
  margin:auto;
  padding: emCalc(10) emCalc(15) emCalc(20) emCalc(15);
  min-height:100%;
  background:$white;
  word-wrap:break-word;


}

#content {

  p, li {
    font-size: emCalc(14);
  }

  ul {
    list-style-position: inside;
  }

  img {
    margin-bottom:0.8em;
  }
}

footer {
  background:$dark-grey;
  color: $white;
  height:$footer-height-mobile;
  @media #{$small} {
    height: $footer-height;
  }
   h5 {
    color: $white;
   }
  p {
    text-align:center;
    margin:auto;
    color:white;
    padding:10px 0;
    font-size:0.9em;
  }
}

header .logo {
  text-align: center;
  @media #{$small} {
    height:80px;
    background:url('../../images/header_separator.png') center right no-repeat;
  }
  h1 {
    font-size:1em;
    margin:0;
    margin:18px 0;
  }
}

header .search {
  background: #fff;
  padding-top: 20px;
  @media #{$small} {
    height:80px;
    padding-left:30px;
    padding-right:30px;
    background:url('../../images/header_separator2.png') center right no-repeat #fff;
  }
}

.diary-week {
  font-size:0.9em;
}

.topbar-dropdown {
  position:absolute;
  top:9999px;
  z-index:99;
}

#account-link img {
  margin-right:3px;
  box-shadow: 0 0 3px #fff;
  margin-top:-7px;
  margin-bottom:-4px;
}

ul.topbar-dropdown {
  $default-float: right;
  @include dropdown-container(list, true, 300px);
  margin:0;
  width:auto;
  list-style:none;

  a {
    padding:0.2em 0.8em;
    display:block;
    &:hover {
      background:#eee;
    }
  }

}

#login-dropdown {
  width:300px;
  background:$light-grey;
  color:white;
  font-size:0.8em;
  padding-top:1em;

  a, label {
    color: white;
    font-size:1em;
  }

  .button {
    margin-bottom:0;
  }
}

#header-bar {
  background:#3a393a;

  section {
    max-width:$row-width;
    margin:auto;

    &:after {
      content:" ";
      clear:both;
      height:0;
      display:block;
    }


    > ul {
      margin:0;

      > li {
        color: white;

        > a {
          color: white;
          display:inline-block;
          padding: 7px 15px;
          font-size:0.8em;
          font-weight:bold;

          &.icon-link {
            padding:7px 3px;

            &:hover {
              @include brighten(1.5);
            }
          }
        }

        &#login-link {
          padding-right:5px;

          > a {
            padding-right:5px;
          }
        }

        &:hover {
          background: $light-grey;
        }
        display:block;
        float:left;
      }
    }
  }
}

table {
  border-collapse: collapse;
  width:100%;
}

#nav-edit-link {
  line-height:inherit;
  padding-top:0.7em;
  i {
    font-size:1.5em;
  }
}
$panel-font-color-alt: #f00;
.error_panel {
  @include panel(rgba(198, 15, 19, 0.1));
}

$panel-font-color-alt: #000;
.warning_panel {
  @include panel(rgba(198, 198, 0, 0.1));
}

.button-neutral
{
@include button(
    // $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)
    $button-med,
    // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
    rgba(200, 200, 200, 1),
    // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
    false,
    // We can set $full-width:true to remove side padding extend width. Default:false
    false,
    // We can set $disabled:true to create a disabled transparent button. Default:false
    false
  );
}

.dropzone {
    @include panel(#ddd);
    border: 4px dashed black;
    min-height: 150px;
    cursor: pointer;
}

#dev-warning {
  background:#ffdddd;
  text-align:center;
  padding:0.1em 1em;
  font-size:0.9em;

  h3 {
    color:#a00;
  }
}