$include-html-classes: false;
@import 'foundation/components/global';
@import 'foundation/components/panels';

#entity-header {
  @extend .panel;
}

.vacancies-panel {
  @include panel(rgb(255,240,153), 1em 2em, false);
  border-radius:10px;
}

.admin-panel {
  @include panel(rgb(255,240,200), 1em 2em, false);

  li a.active {
    color: black;
    cursor: default;
  }
}

.approve-panel {
  @include panel(rgb(255,255,100), 1em, false);
}

.news-link {
  @include panel(rgb(230,230,230), 1em, false);
  margin-bottom:10px;
  font-size:0.8em;

  h6 {
    margin:0;
  }
}

.show-society {
  font-style:italic;
  margin-bottom:0.7em;
}