$include-html-classes: false;
@import 'foundation/components/global';
@import 'foundation/components/panels';

#entity-header {
  @extend .panel;
}

#show-vacancies {
  @include panel(rgb(255,240,153), 1em 2em, false);
}

.admin-panel {
  @include panel(rgb(255,240,200), 1em 2em, false);

  li a.active {
    color: black;
    cursor: default;
  }
}

.approve-panel {
  @include panel(rgb(255,255,100), 1em, false);
}