label.required:after { content:"*"; }

select {
  width:auto;
  background:#fff;
  padding:6px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #cccccc;
}

.dropdown.custom {
  float:left;
}

.entity_collection > div:last-child {
  border-bottom:1px solid #ddd;
}

.entity_collection > div {
  border-top:1px solid #ddd;
  padding:10px 0 0;
}

input[type=date], input[type=time] {
  width:auto;
  display:-webkit-inline-flex;
}
input[type=date] {
  max-width:150px;
}
input[type=time] {
  max-width:120px;
}

textarea {
  height:10em;
}

.form_map_container {
  margin-bottom:12px;

  small {
    text-align: right;
    display:block;
    font-size:12px;
    font-style:italic;
    margin-bottom:8px;
    color:#777;
  }
}

.form_map {
  width:100%;
  height:200px;
  box-sizing: border-box
}

.no-js {
  .form_map {
    display:none;
  }
  .form_map_container small {
    display:none;
  }
  .form_map_container img {
    max-width: none;
  }
}

@media only screen and (max-width:768px) {
  label.right {
    float:none !important;
    text-align:left;
  }
}