{% extends 'layout.html.twig' %}
{% block title %}Access request sent{% endblock %}
{% block body %}
<div class="row">
    <div class="large-12 columns">
        <p>Your request for access to this show has been sent.</p>
    </div>
</div>
{% endblock %}
