{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'shows' %}
{% block title %}Shows{% endblock %}

{% block body %}

<h2>Shows</h2>
<h5>New on Camdram</h5>
<ul class="large-block-list">
{% for show in result.data %}
    <li>
        <div class="panel" itemscope itemtype="http://schema.org/TheaterEvent">
            <h5><a href="{{ path('get_show', {identifier: show.slug}) }}">{{ show.name }}</a></h5>
            {% include 'performance/show.html.twig' with {'performances': show.performances } %}
            <p>{{ show.description | truncate(200) | strip_new_lines | camdram_markdown }}</p>
        </div>
    </li>
{% endfor %}
</ul>

{% endblock %}
