<h5>My Shows</h5>
<ul class="large-block-list">
{% for show in result.data %}
    <li>
        <div class="panel">
            <h5><a href="{{ path('get_show', {identifier: show.slug}) }}">{{ show.name }}</a></h5>
            <p>{% include 'performance/show.html.twig' with {'performances': show.performances } %}</p>
            <p>{{ show.description | truncate(200) | strip_new_lines | camdram_markdown }}</p>
        </div>
    </li>
{% endfor %}
</ul>
