<h5>Get Involved</h5>
{% for advert in adverts %}
    <div class="vacancies-panel">
        <a href="{{ path('get_advert', {identifier: advert.id}) }}">{{ advert.title }}</a>
        <br/>{{ advert.summary }}
    </div>
{% endfor %}
<p class="text-right"><a href="{{ path('get_adverts') }}">More vacancies &gt;&gt;</a></p>