{% if shows | length > 0 %}
    <h4>{{ person.name }} is currently involved with</h4>
    {% for show in shows %}
        <div>
            {{ include('person/show-header.html.twig') }}
            <p>{{ show.description | camdram_markdown }}</p>
        </div>
    {% endfor %}
{% endif %}
