{% extends 'layout.html.twig' %}

{% block title %}Person - New{% endblock %}

{% block body %}

<div class="row">
    <h3>New Person</h3>
    <form action="{{ path("post_person") }}" method="post" class="custom">
        {{ form_widget(form) }}
        <div class="text-right">
            <input type="submit" value="Create" class="button"/>
        </div>
    </form>
</div>

{% endblock %}
