{% if shows | length > 0 %}
    <h4>{{ person.name }} has been involved with</h4>
    <ul class="no-bullet">
    {% for show in shows %}
        <li>
            {{ include('person/show-header.html.twig') }}
        </li>
    {% endfor %}
    </ul>
{% endif %}
