{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'contact-us' %}
{% block title %}Contact Us{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns">
        <h2>Contact Us</h2>

        <h3>Questions about using Camdram</h3>
        <p>Answers to some common questions can be found on our 
        <a href="{{ path('acts_camdram_faq') }}">frequently asked questions</a>.
            If you can't find an answer there, don't worry, as there are a
            number of ways to get some help or advice. If you have a 
            question that other Camdram users might be able to help with, 
            we have a 
           <a href="https://groups.google.com/forum/#!forum/camdram-users" target="_blank">Google Group</a> for users to ask 
           and answer each others' questions.  Please don't hesitate to start a new topic to ask your question, however small.
           You can also ask a question here by emailing <a href="mailto:camdram-users@googlegroups.com">camdram-users@googlegroups.com</a>.
        </p>
        
        <p>If you're a regular Camdram user, joining this group and helping answer other users' questions is a great way to help out with
           minimal commitment. 
        </p>

        <h3>Bugs and feature requests</h3>
        <p>If you've found a problem with Camdram or have an idea for a new feature, we invite you to create an 'issue'
            on our GitHub page
            (<a href="http://github.com/camdram/camdram/issues" target="_blank">https://github.com/camdram/camdram/issues</a>).
            This allows us to easily keep track of and prioritise bugs and feature requests, and means you will automatically
            receive email notifications when someone is working on the issue and when it is fixed.
        </p>
        <p>
            Camdram is an open source project run entirely by volunteers. If you know how to fix a bug then you are more
            than welcome to do so and submit a 'pull request' on GitHub!
        </p>

        <h3>Data errors</h3>
        <p>If there's a problem related to the data on Camdram (e.g. a show hasn't been authorised, or some information
            is wrong), then please contact <a href="mailto:websupport@camdram.net">websupport@camdram.net</a> or use the
            form below, and one of the Camdram administrators will get back to you.</p>

        <form action="{{ path('acts_camdram_contact_us_send') }}" method="post">
            {{ include('ActsCamdramBundle:ContactUs:form.html.twig') }}
        </form>
    </div>
</div>
{% endblock %}
