{% extends 'layout.html.twig' %}

{% block title %}User Guidelines{% endblock %}

{% block body %}

<h2>User Guidelines</h2>

<div class="panel">

    <h4>Summary</h4>

    <p>If you log in to Camdram, you agree to:</p>
    <ul class="prose-list">
    <li>Only create show listings that are genuine, accurate and appropriate;
    <li>Create and manage listings in accordance with English law, especially
        regarding copyright, plagiarism, and personal data privacy.
    </ul>
    <br />
    <p>
        Please read on; we've tried to keep this brief and clear.
    </p>
</div>

    <p>In these Guidelines:</p>
    <ul class="prose-list">
    <li>words like &lsquo;Camdram&rsquo; or &lsquo;the website&rsquo; mean the website
        hosted at www.camdram.net and other subdomains of camdram.net;

    <li>words like &lsquo;us&rsquo; or &lsquo;we&rsquo; mean the volunteers
        who manage and administer Camdram
        (<a href="{{ path('acts_camdram_contact_us') }}">contact us</a>);

    <li>words like &lsquo;you&rsquo; mean the people who use Camdram to list productions,
        roles, vacancies and adverts.
    </ul>

    <br />
    <p>
        So we can enforce these Guidelines, each Camdram user login account must belong to a single person. 
        Login credentials must not be shared or used by multiple people. This includes secrets like passwords 
        and access tokens, whether defined directly on Camdram, or via other services like Raven or Google. 
        This also includes the email account(s) associated with login: mail sent to that account should only be 
        accessible to the same person who owns the Camdram account. 
        This is because we may need to send secrets like password reset tokens to that email address. 
    </p>
    
    <p>We will delete user accounts that we believe violate this requirement.</p>
    
    <p>
        Camdram is subject to English law. Whilst run for the benefit of the Cambridge
        student amateur theatrical community, Camdram is officially unaffiliated with any
        theatre or educational institution. By using Camdram you also accept our
        <a href="{{ path('acts_camdram_privacy') }}">Privacy Policy</a>.
    </p>

<h5>Changing and enforcing the Guidelines</h5>

    <p>
        We may change the User Guidelines at any time. The applicable version
        is always the one accessible on this website. If we make significant
        changes, we will make reasonable efforts to tell users about the change,
        usually via email. If you continue to use Camdram, you agree to follow
        the latest version of the User Guidelines.
    </p>

    <p>
        We will remove any content that we know or reasonably suspect does
        not align with these Guidelines, probably without warning.
        We may suspend or ban users who ignore the Guidelines deliberately
        or repeatedly. We will be reasonable in how we apply these powers
        but final decisions will rest with us alone.
    </p>

<div class="panel">
    <h5>Principle 1: Information on Camdram must be genuine and accurate</h5>

    <p>
        Camdram is meant to be an accurate historical record, and a trustworthy
        data source for other websites.
    </p>
</div>

    <ul class="prose-list">
    <li>You must only create show listings for genuine productions or
        performances, that are aligned with our current
        <a href="{{ path('acts_camdram_faq') }}#suitability">
        Suitability Guidelines</a>.
    <li>It is absolutely OK to create listings for productions which have an element of
        uncertainty over whether they will be able to go ahead, for practical / logistic
        reasons (e.g. funding), provided there's a genuine desire and effort to make them
        happen. If the production does not end up being performed or completed, you should
        delete the listing as soon as reasonably possible.
    <li>You must not create entirely fictitious listings, for any reason.
    <li>Camdram is an English-language website. Listings should be predominantly in
        English; foreign-language listing titles are fine, but general descriptions and
        roles should be in English.
    <li>If you can edit a show listing on Camdram, you are responsible for the
        listing's content, regardless of whether others can also edit the listing.
    <li>You must do your best to keep show details accurate, for example if performance
        time or location is changed. This also includes information in show descriptions.
    <li>Show listings do not need to be deadly serious. Humour is great, especially if
        it fits the production. However, listings should always be grounded in fact.
    <li>You must not go out of your way to embed in-jokes in show listings or otherwise
        make the listing inscrutable or incomprehensible to a general audience.
    <li>Those who you list as being involved in your production must be real people who
        have genuinely participated.
            <ul class="prose-list">
            <li>Cast should be credited according to the script, libretto or other source
                text, where applicable.
            <li>You should use standard role titles where possible for band and production
                team members.
            <li>Humorous titles are fine provided they describe genuine participation
                (&lsquo;Technical Overlord&rsquo; is fine, for example).
            <li>Mass or collective nouns and group names are forbidden. You should credit
                people individually.
            <li>A good rule of thumb is that if a show's credit contains the word
                &lsquo;the&rsquo; then it's probably not allowed.
            </ul>
    <li>We don't permit a single person to have more than one profile on Camdram.
    <li>We don't allow animals or inanimate objects in Camdram listings.
    </ul>
    <br />

<div class="panel">
    <h5>Principle 2: Information on Camdram must be legal and reasonable</h5>

    <p>
        We want Camdram to be inclusive and welcoming to all visitors.
        Legal action would probably force Camdram to shut down permanently.
    </p>
</div>

    <ul class="prose-list">
    <li>You must not use Camdram to incite hatred or prejudice.
    <li>Images uploaded to Camdram must not be illegal, nor inappropriate for a general
        audience.
    <li>Content of show listings must not be gratuitously or needlessly obscene.
        Explicit language is OK if justified by the show for artistic reasons; unnecessary
        swearing in descriptions or role titles is not.
    </ul>
    <br />

<div class="panel">
    <h5>Principle 3: Respect copyright &amp; plagiarism law</h5>

    <p>
        We could face legal action if Camdram hosts copyrighted or
        plagiarised content (images, text or other formats).
    </p>
</div>

    <ul class="prose-list">
    <li>You must ensure you have permission (or &lsquo;rights&rsquo;) to use
        images or descriptive text added to Camdram. You must include credits or citations where
        needed.
    <li>Absence of a copyright statement or mark (like &copy; or &trade;) does not automatically
        mean content can be used freely or without permission. You must assume you cannot use
        content until you know for sure you can.
    </ul>
    <br />

<div class="panel">
    <h5>Principle 4: Respect personal data privacy law</h5>

    <p>
        We could face legal action if Camdram doesn't comply with
        laws regarding the use of personal data.
    </p>
</div>

    <ul class="prose-list">
    <li>If you wish to add someone's name as a participant (cast, crew or band member)
        in a show, you <strong>must</strong> ensure you have their consent for that
        information to appear in:
            <ul class="prose-list">
                <li>Camdram's show listings, which are accessible to the general public
                    as well as search engines;
                <li>Third-party websites that reuse our data.
                    <!--(and follow our non-existent Acceptable Use Policy?)-->
            </ul>
    <li>Consent can be explicit (they tell you it's OK) or implicit (tell them you intend
        to add their name, and allow reasonable time for them to object or opt-out).
    <li>Do not assume permission solely because the person is already listed on other
        shows on Camdram.
    <li>Be aware that there are many potential reasons why someone might not want
        their name to be visible on Camdram. For example, it indicates the
        city they currently live in, and even identifies their exact location
        at a particular date and time.
    <li>For participants under 18 years old, you must also have the consent of a
        parent or legal guardian.
    </ul>
    <br />

{% endblock %}
