{% extends 'ActsCamdramApiBundle::layout.html.twig' %}
{% set current_api_nav_id = 'home' %}

{% block title %}API{% endblock %}

{% block api_body %}

    <h4>Home</h4>

    <p>
        The Camdram API allows anyone to create their own applications which read and write
        the data on Camdram using a REST-based API. Data currently supported includes:
    </p>
    <ul>
        <li>Shows</li>
        <li>Venues</li>
        <li>Societies</li>
        <li>People</li>
    </ul>
    <p>
        In order to make write requests you must create an API key. API keys can be associated with a user, or
        a society/venue for which you are an administrator. If your app only performs read-only actions, you
        are still advised to create an API key so that we can better monitor how the API is used. Additionally,
        non authenticated API requests are subjected to a lower rate limit.
    </p>
    <p>
        The API uses the same URL structure as Camdram itself - if you're not what the URL is, try simply
        adding '.json' or '.xml' to the URL for a relevant page.
    </p>

{% endblock %}
