app/.preload.php*
app/bootstrap.php.cache
app/cache/
app/config/parameters.yml
app/logs/*
app/data/*
build/
public/media
var
vendor
composer.phar
*~
.*.swp
bin
.web-server-pid
.phpunit.result.cache
node_modules
assets/js/fos_js_routes.json
coverage.xml
