app/bootstrap.php.cache
app/cache/*
app/config/parameters.yml
app/logs/*
app/data/*
build/
web/media
vendor
composer.phar
*~
.*.swp
bin
.web-server-pid
node_modules
assets/js/fos_js_routes.json
coverage.xml
