web/bundles/
web/css
web/js
app/bootstrap.php.cache
app/cache/*
app/config/parameters.yml
app/config/sphinx*
app/logs/*
app/data/*
app/jackalope
app/phpcrodm
app/phpcrodm.php
build/
vendor
composer.phar
*~
.vagrant*
