includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - phpstan-baseline.neon
parameters:
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    doctrine:
        objectManagerLoader: tests/object-manager.php
    ignoreErrors:
        - '#Call to an undefined method Github\\Api\\ApiInterface.*#'
    level: 4
    paths:
        - src
    scanDirectories:
        - /usr/share/php/Composer
