includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - phpstan-baseline.neon
parameters:
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    doctrine:
        objectManagerLoader: tests/object-manager.php
    ignoreErrors:
        # This error is the result of a backwards-compatibility trick Symfony is using
        - '#Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required.#'
        - '#Call to an undefined method Github\\Api\\ApiInterface.*#'
    level: 2
    scanDirectories:
        - /usr/share/php/Composer
    paths:
        - src
