<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="tests/bootstrap.php">
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/Acts/CamdramBundle/DataFixtures</directory>
      <directory suffix=".php">src/Acts/CamdramSecurityBundle/DataFixtures</directory>
    </exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <env name="KERNEL_CLASS" value="\AppKernel"/>
    <env name="SYMFONY_ENV" value="test"/>
  </php>
  <testsuites>
    <testsuite name="Camdram">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <extensions>
    <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
  </extensions>
</phpunit>
