{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <div class="row">
    <h3>Search camdram.net</h3>

    {% include 'ActsCamdramBundle:Entity:paginator.html.twig' %}
    <hr/>
    {% for entity in result.data %}
        <div class="panel">
            <h5> <div class="entity_type">{{ entity.entityType }}</div>
                <a href="{{ path('get_entity', {id: entity.id}) }}">{{ entity.name }}</a>
            </h5>
            {{ entity.description | strip_new_lines | camdram_markdown | striptags }}
        </div>
    {% endfor %}
    <hr/>
    {% include 'ActsCamdramBundle:Entity:paginator.html.twig' %}

    </div>

{% endblock %}

