<li class="has-flyout right">
    <a href="#"><img src="{{ asset('/bundles/actscamdram/images/settings.png') }}"></a>
    <ul class="flyout right">
    {% include 'ActsCamdramBundle:Navigation:nav-items.html.twig' with {current_id: ''} %}
    </ul>
</li>