{% extends 'api/layout.html.twig' %}
{% set current_api_nav_id = 'apps' %}

{% block title %}API Apps{% endblock %}

{% block api_body %}

    <h4>My Apps - New App</h4>

    <form method="post" action="{{ path('post_app') }}">
        {{ form_widget(form) }}

        <div class="text-right">
            <input type="submit" class="button" value="Create"/>
        </div>
    </form>

{% endblock %}
