{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'diary' %}
{% block title %}Diary{% endblock %}

{% block body %}

<h3>Diary</h3>

{{ render(controller('ActsCamdramBundle:Diary:toolbar', {start_date: diary.startDate})) }}

<div id="diary">
    {{ render_diary(diary) }}
</div>

{% javascripts output='js/diary.js' '@ActsCamdramBundle/Resources/public/javascripts/app/diary.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
