{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'diary' %}
{% block title %}Diary{% endblock %}

{% block body %}

<div class="row">
    <div class="large-6 columns"><h3>Diary</h3></div>
    <div class="large-6 columns text-right">
        <form action="{{ url('acts_camdram_diary') }}">
        {{ render(controller("ActsCamdramBundle:Diary:toolbar") )}}
        </form>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <a href="#" class="infinite_scroll load_previous">Go back</a>
        <div id="diary">
            {{ include("ActsCamdramBundle:Diary:content.html.twig") }}
        </div>
        <a href="#" class="infinite_scroll load_next">More</a>
    </div>
</div>

<script>
    $(function() {
        var get_last_date = function() {
            var date = new Date($('#diary').children().last().attr('data-end'));
            return date.toISOString();
        }

        var get_first_date = function() {
            var date = new Date($('#diary').children().first().attr('data-start'));
            return date.toISOString();
        }
        $('#years').change(function() {
            $('#periods').empty();
            $.get(Routing.generate('get_time-period', {'year': $('#years').val(), '_format' : 'json'}), function(groups) {
                $.each(groups, function(key, group) {
                    $('#periods').append($('<option/>').val(group.slug).text(group.name));
                })
            })
        })
        var loading = false;
        var end_limit = false;
        var start_limit = false;

        var load_next = function() {
            if (!loading && !end_limit) {
                loading = true;
                $.get(Routing.generate('acts_camdram_diary_content', {direction: 'next', last_date: get_last_date()}), function(data) {
                    if ($.trim(data) == '') {
                        end_limit = true;
                        $('.load_next').hide();
                    }
                    else {
                        $('#diary').append(data)
                    }
                    loading = false;
                })
            }
        };

        $(window).endlessScroll({
            callback: load_next()
        })
        $('.load_next').click(function(e) {
            e.preventDefault();
            load_next();
        })
        $('.load_previous').click(function(e) {
            e.preventDefault();
            $.get(Routing.generate('acts_camdram_diary_content', {direction: 'previous', last_date: get_first_date()}), function(data) {
                $('#diary').prepend(data)
            })
        })
    })
</script>

{% endblock %}
