{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'diary' %}
{% block title %}Diary{% endblock %}

{% block body %}

<div class="row">
    <h3>Diary</h3>
    {% for period in diary %}
		{% render "ActsCamdramBundle:Diary:period" with {id: period.id} %}
    {% endfor %}
</div>

{% endblock %}
