{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'vacancies' %}
{% block title %}Edit Advert{% endblock %}

{% block body %}

{% set current_subnav_id = 'manage_adverts' %}
{{ render(controller('Acts\\CamdramBundle\\Controller\\ShowController::adminPanelAction', {show: advert.show})) }}

<h3>Edit Advert</h3>

<div class="panel">
    <p>
        Use the form below modify your show's advert.
        You can add one or more audition sessions (if applicable) and/or leave contact details for people to 
        get in touch.
    </p>
    <p>
        Please ensure you have your team members' permission <em>before</em> adding their contact
        details to the advert!
    </p>
</div>

{{ form_start(form, {'action': path("put_show_advert", {identifier: advert.show.slug, advertId: advert.id} )}) }}
{{ include('advert/form.html.twig') }}
{{ form_end(form) }}

{% endblock %}