<p>{% include 'performance/show.html.twig' with {'performances': show.performances, 'diary_links': true } %}
{% if show.weeks is not empty %}
<em>{{ show.weeks }}</em>
{% endif %}
</p>
{%- if show.contentWarning -%}
<details class="content-warning">
    <summary><div><span><strong>Content warning</strong> (may contain spoilers)</span> <span>Click to expand</span><span>Click to close</span></div></summary>
    <div>{{ show.contentWarning | nl2br }}</div>
</details>
{%- endif -%}
{{ show.description | camdram_markdown }}
{% if not show.isArchived() and can_contact %}
<p><a href="{{ path('contact_entity', {type: 'show', identifier: show.slug}) }}">
    <i class="fa fa-envelope-o"></i> Contact organizers</a>
</p>
{% endif %}
