<p>{% include 'performance/show.html.twig' with {'performances': show.performances, 'diary_links': true } %}
{% if show.weeks is not empty %}
<em>{{ show.weeks }}</em>
{% endif %}
</p>
{{ show.description | camdram_markdown }}
{% if not show.isArchived() and can_contact %}
<p><a href="{{ path('contact_entity', {type: 'show', identifier: show.slug}) }}">
    <i class="fa fa-envelope-o"></i> Contact organizers</a>
</p>
{% endif %}
