<div id="dev-warning">
    <h3>Development Site</h3>

    This site contains fictional data and does not write to the real Camdram database -
    <a href="{{ path('acts_camdram_development') }}">read more information</a>.
</div>
