<div id="dev-warning">
    <h3><i class="fa fa-warning"></i> Development Site</h3>

    <p>This site contains fictional data and does not write to the real Camdram database -
    <a href="" target="_blank">read more information</a></p>
</div>