<a href="https://camdram.github.io/2019/04/07/using-markdown-on-camdram.html" target="_blank" class="right" style="font-weight: bold; margin: 0.5em; font-size: 0.75rem;"><i class="fa fa-external-link"></i> Formatting guide</a>
You can now format your {{ thing }} using Markdown. Links just work, <strong>**bold**</strong>, <em>*italics*</em>, and <b style="display: inline-block">## Headings</b> are also available.
