You can now format your {{ thing }} using Markdown. Links just work, <strong>**bold**</strong>, <em>*italics*</em>, and <b style="display: inline-block">## Headings</b> are also available. See <a href="https://help.github.com/articles/basic-writing-and-formatting-syntax/" target="_blank">this page</a> for a rough guide, although not all features are available.
