{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'vacancies' %}

{% block body %}
<div class="row">
    <div class="large-3 columns">
        <ul class="side-nav">
            {% include 'navigation/nav-items.html.twig'  with {items: {
            'auditions': {'text': 'Auditions', 'path': path('get_auditions')},
            'techies': {'text': 'Technical and designer roles', 'path': path('get_techies')},
            'applications': {'text': 'Producer/director roles and show applications', 'path': path('get_applications')},

            }, current_id: current_vacancies_id} %}
        </ul>
    </div>

    <div class="large-9 columns">
    {% block vacancies_body %}{% endblock %}
    </div>
</div>
{% endblock %}
