{% extends 'layout.html.twig' %}

{% block title %}This feature has been removed from Camdram{% endblock %}

{% block body %}
<h2>This feature has been removed from Camdram</h2>

<p>
    As of 29 October 2019 the old 'external login' functionality that was build into Camdram as been removed.
    This was done in order to improve the security of the site and better protect Camdram users.
    If you are seeing this message you should contact the owner of the site that just directed you here and tell
    them that they should update their application to support OAuth2 authentication via the Camdram API.
</p>

<p>
    This is not a bug in Camdram. Please contact the third-party website or application for support.
</p>
{% endblock %}
