{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Diary{% endblock %}

{% block body %}

<div class="row" xmlns="http://www.w3.org/1999/html">
    <!-- div class="twelve columns" -->
    {% for i in range(term.firstweek, term.lastweek) %}
		{% set startOfWeek = term.startdate|date_modify("+#{i} weeks") %}
		{% set headerDate = startOfWeek %}
		<table>
		<thead>
		<tr>
		<td colspan=7>
		{% if i >= 0 %}
			{{ term.name }} Week {{ i }}
		{% endif %}
		</td>
		</tr>
		<tr>
		{% for k in range(0,6) %}
			<th>{{ headerDate|date('D d M') }}</th>
			{% set headerDate = headerDate|date_modify('+1 day') %}
		{% endfor %}
		</tr>
		</thead>

		<tbody>
		{# TODO add rendering of application deadlines and auditions #}
		{#% render "ActsCamdramBundle:Audition:weeksAuditions" with {'startOfWeek': startOfWeek} %#}
		{% render "ActsCamdramBundle:Performance:weeksPerformances" with {'startOfWeek': startOfWeek} %}
		</tr>
		</tbody>
		</table>
    {% endfor %}
    <!-- div -->
	<hr>
	<div class="row">
	<div class="six columns">
	{% if term.id > 1 %}
	<a href="{{ path('get_term', {id: term.id - 1}) }}">Previous</a>
	{% endif %}
	</div>
	<div class="six columns">
	</div>
	</div>
</div>

{% endblock %}
