imports:
    - { resource: parameters.yml }
    - { resource: services.yml }
    - { resource: security.yml }
    - { resource: elasticsearch.yml }

parameters:
    locale: en
    router.request_context.host: www.camdram.net
    support_email_address: support@camdram.net

framework:
    esi: { enabled: true }
    secret:          "%env(APP_SECRET)%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: "%kernel.debug%"
    form:            true
    csrf_protection: true
    validation:      { enable_annotations: true }
    templating:      { engines: ['twig'] }
    default_locale:  "%locale%"
    session:
        name: camdram
        gc_maxlifetime: 1800
    fragments: { path: /_fragment }
    assets:
        json_manifest_path: '%kernel.project_dir%/web/build/manifest.json'

sensio_framework_extra:
    router:
        annotations: false

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    date:
        timezone: "Europe/London"
    form_themes:
        - 'form/fields.html.twig'
    globals:
        development_warning: "%env(bool:DEVELOPMENT_WARNING)%"
        show_site_notice: "%env(bool:SHOW_SITE_NOTICE)%"
        site_notice_content: "%env(SITE_NOTICE_CONTENT)%"
        facebook_id: "%facebook_id%"

monolog:
    channels: ["camdram", "mailer"]

# Doctrine Configuration
doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                url: "%env(DATABASE_URL)%"
                charset:  utf8mb4
                default_table_options:
                    charset: utf8mb4
                    collate: utf8mb4_unicode_ci
                mapping_types:
                    enum:       string

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        auto_mapping: true
        mappings:
            gedmo_loggable:
                type: annotation
                prefix: Gedmo\Loggable\Entity
                dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Loggable/Entity"
                alias: GedmoLoggable
                is_bundle: false

# Swiftmailer Configuration
swiftmailer:
    url: "%env(MAILER_URL)%"
    spool  : { type: memory }
    sender_address: "%support_email_address%"

fos_rest:
    view:
        formats:
            rss: true
            xml: true
            json: true
            jsonp: true
            ics: true
        mime_types:
            ics: text/calendar
            txt: text/plain
        templating_formats:
            html: true
            txt: true
        force_redirects:
            html: true
        view_response_listener: force
        failed_validation: HTTP_BAD_REQUEST
        jsonp_handler: ~
    service:
        view_handler: acts.camdram_api.view_handler
    routing_loader:
        default_format: html
    body_listener:
        decoders:
            json: fos_rest.decoder.jsontoform
    format_listener: true
    access_denied_listener:
        json: true
        xml: true
    disable_csrf_role: ROLE_API

jms_serializer:
    visitors:
        json_serialization:
            options: JSON_PRETTY_PRINT

acts_camdram:
    techies_advert_default_days: 15
    techies_advert_max_days: 40
    data_dir: "%kernel.root_dir%/data"

fos_oauth_server:
    db_driver:           orm
    client_class:        Acts\CamdramApiBundle\Entity\ExternalApp
    access_token_class:  Acts\CamdramApiBundle\Entity\AccessToken
    refresh_token_class: Acts\CamdramApiBundle\Entity\RefreshToken
    auth_code_class:     Acts\CamdramApiBundle\Entity\AuthCode
    service:
        storage: acts.camdram_api.oauth2_storage.default
        options:
            supported_scopes: user_email user_shows user_orgs api_write api_write_org

oneup_uploader:
    mappings:
        images:
            frontend: dropzone
            storage:
                directory: '%kernel.root_dir%/data/'

liip_imagine:
    loaders:
        default:
            filesystem:
                data_root: '%kernel.root_dir%/data/'

    filter_sets:
        cache: ~
        preview:
            quality: 90
            filters:
                thumbnail: { size : [1024, 768], mode : inset }
                strip: ~
        thumbnail:
            quality: 75
            filters:
                thumbnail: { size : [300, 200], mode : inset }
                strip: ~
        list:
            quality: 75
            filters:
                thumbnail: { size: [88, 70], mode: inset }
        social:
            quality: 75
            filters:
                thumbnail: { size : [200, 200], mode : inset }
            data_loader: url_data_loader

stof_doctrine_extensions:
    orm:
        default:
            sluggable: true
            loggable: true

fos_js_routing:
    routes_to_expose: [ 'get_person', 'get_people', 'get_show', 'get_society', 'get_societies', 'get_venues?', 'get_time-period', 'get_user', 'get_users', 'acts_camdram_diary.*', 'acts_camdram_privacy', 'patch_roles_.*', '.*search.*', 'patch_show_role', 'delete_show_role' ]

ewz_recaptcha:
    public_key: "%recaptcha_site_key%"
    private_key: "%recaptcha_secret_key%"
    locale_key: "%kernel.default_locale%"

webpack_encore:
    output_path: "%kernel.root_dir%/../web/build/"
