imports:
    - { resource: config.yml }

framework:
    router:   { resource: "%kernel.root_dir%/config/routing_dev.yml" }
    profiler: { only_exceptions: false }

web_profiler:
    toolbar: true
    intercept_redirects: false

monolog:
    handlers:
        main:
            type:  stream
            path:  "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug
            channels: ['!camdram', '!mailer']
        actions:
            type:     stream
            path:     "%kernel.logs_dir%/%kernel.environment%.action.log"
            channels: ["camdram"]
        mailer:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%.mailer.log"
            channels: ["mailer"]
        firephp:
            type:  firephp
            level: info

assetic:
    use_controller: true

swiftmailer:
    delivery_address: "%mailer_delivery_address%"

fos_js_routing:
    request_context_base_url: /app_dev.php

ewz_recaptcha:
    enabled: false