imports:
    - { resource: config.yml }


doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                dbname: camdram
                driver: pdo_sqlite
                path: ~
                memory: true

monolog:
    handlers: ~

framework:
    router:   { resource: "%kernel.root_dir%/config/routing_test.yml" }
    test: ~
    session:
        storage_id: session.storage.mock_file
    profiler:
        enabled: true

web_profiler:
    toolbar: false
    intercept_redirects: false

swiftmailer:
    disable_delivery: true

fos_js_routing:
    request_context_base_url: /app_test.php

acts_camdram:
    search_provider: doctrine

acts_sphinx_real_time:
    enabled: false

acts_external_login:
    test: true