parameters:
    env(DATABASE_URL): "sqlite:///%kernel.root_dir%/data/orm.db"
    env(MAILER_URL): "null://localhost"
    dev_delivery_address: example@example.com

    env(APP_SECRET):            "default secret"

    facebook_id:                1234
    facebook_secret:            s3cr3t
    twitter_key:                1234
    twitter_secret:             s3cr3t
    twitter_token:              1234
    twitter_token_secret:       s3cr3t
    google_client_id:           1234
    google_client_secret:       s3cr3t
    google_key:                 s3cr3t
    github_id:                  1234
    github_secret:              s3cr3t
    recaptcha_site_key:         1234
    recaptcha_secret_key:       s3cr3t
    sentry_dsn:                 https://123dsn789@sentry.io/1234567

    env(DEVELOPMENT_WARNING): false
    env(SHOW_SITE_NOTICE): false
    env(SITE_NOTICE_CONTENT): "Camdram will be unavailable for scheduled maintenance from 00:00:00 on 1 January 1970 for approximately 1 hour."
    env(SHUTDOWN_NOTICE): false

    default_admin_idents: "[]"
