parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     camdram
    database_user:     camdram
    database_password: password

    test_database_name: camdram_test
    test_database_user: camdram_test
    test_database_password: password

    # During development send emails from your own gmail address e.g.
    # your_username@gmail.com.
    mailer_transport:  gmail
    mailer_host:       ~
    mailer_user:       your_gmail_username
    mailer_password:   your_gmail_password

    current_time:      "2001-02-27 12:30:07"

    locale:            en
    secret:            "default secret"

    facebook_id:                1234
    facebook_secret:            s3cr3t
    twitter_key:                1234
    twitter_secret:             s3cr3t
    twitter_token:              1234
    twitter_token_secret:       s3cr3t
    google_client_id:           1234
    google_client_secret:       s3cr3t
    google_key:                 s3cr3t
    github_id:                  1234
    github_secret:              s3cr3t

    baseurl: http://www.camdram.net

    map_center: [52.20531,0.12179]
    search_provider: doctrine
    term_dates_ical: http://www.google.com/calendar/ical/cam.ac.uk_t5c3ocr5f5ehr8ln3ec4ile1g0%40group.calendar.google.com/public/basic.ics
