
.diary-week {
    margin-bottom:15px;
}

.diary-week:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

.diary-content {
    position:relative;
}

.diary-content-overflow {
    overflow-y:auto;
    padding-right:10px;
}

ul.diary-header {
    list-style:none;
    margin:0;
    clear:both;
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
    background:#eee;
    margin-bottom:7px;
}

ul.diary-header > li {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width:14.28%;
    float:left;
    text-align: center;
    font-weight:bold;
    font-size:0.8em;
}
ul.diary-header:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.diary-row {
    clear:both;
    padding-top:2px;
}

.diary-item {
    border:1px solid  #ddd;
    background: #fafafa;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float:left;
    padding:5px;
    line-height:1.1em;
    position:relative;
    overflow:hidden;
}

.diary-item-hidden:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(top,  rgba(221,221,221,0) 0%, rgba(221,221,221,0) 70%, rgba(221,221,221,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,0)), color-stop(70%,rgba(221,221,221,0)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(221,221,221,0) 0%,rgba(221,221,221,0) 70%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(221,221,221,0) 0%,rgba(221,221,221,0) 70%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(221,221,221,0) 0%,rgba(221,221,221,0) 70%,rgba(221,221,221,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(221,221,221,0) 0%,rgba(221,221,221,0) 70%,rgba(221,221,221,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dddddd', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.diary-item .diary-time {
    font-weight:bold;
    font-size:0.8em;
}

.diary-item .diary-venue {
    float:right;
    font-style:italic;
    font-size:0.7em;
}

.diary-1-days, .diary-1-day { width:14.28%; }
.diary-2-days { width: 28.57% }
.diary-3-days { width: 42.85% }
.diary-4-days { width: 57.14% }
.diary-5-days { width: 71.42% }
.diary-6-days { width: 85.71% }
.diary-7-days { width: 100% }

.diary-skip-left-1 { margin-left: 14.28% }
.diary-skip-left-2 { margin-left: 28.57% }
.diary-skip-left-3 { margin-left: 42.85% }
.diary-skip-left-4 { margin-left: 57.14% }
.diary-skip-left-5 { margin-left: 71.42% }
.diary-skip-left-6 { margin-left: 85.71% }