{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'diary' %}
{% block title %}Diary{% endblock %}

{% block body %}

{{ render(controller('ActsCamdramBundle:Diary:toolbar', {start_date: diary.startDate})) }}

<div id="diary">
    {{ render_diary(diary) }}
</div>

{% endblock %}

{% block compiled_assets -%}
    {{ encore_entry_link_tags('diarypage') }}
    {{ encore_entry_script_tags('diarypage') }}
{%- endblock %}
