{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Venue - {{ form.vars.value.name }} - Edit{% endblock %}

{% block body %}

<div class="row">
    <h3>Edit Venue</h3>
    <form action="{{ path("put_venue", {slug: form.vars.value.slug, _method: 'put'}) }}" method="post" class="custom">
        {{ form_widget(form) }}
        <div class="text-right">
            <input type="submit" value="Save" class="button"/>
        </div>
    </form>
</div>

{% endblock %}
