{% extends 'layout.html.twig' %}

{% block title %}Account Settings{% endblock %}

{% block body %}
<h3>Change Password</h3>

<p>You have successfully changed your password.</p>

<a href="{{ path('get_account') }}" class="button small">Return to account settings</a>
{% endblock %}
