<div class="panel" id="change-password">
    <h5>Change password</h5>
    <form action="{{ path('acts_camdram_security_change_password') }}" method="post">
        {{ form_rest(form) }}
        <div class="text-center">
            <input type="submit" class="button small" value="Change" />
        </div>
    </form>
</div>
