{% extends 'layout.html.twig' %}

{% block title %}Forgotten Password{% endblock %}

{% block body %}
<h4>Forgotten password</h4>
<p>Please enter your email address below and a password reset link will be sent to you.</p>

<form action="{{ path('acts_camdram_security_forgotten_password') }}" method="post">
    {{ form_row(form.email) }}
    {{ form_rest(form) }}
    <div class="text-center">
        <input type="submit" class="button small" value="Send password reset email" />
    </div>
</form>
{% endblock %}
