{% extends 'layout.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
<h4>Reset password</h4>
<p>Please enter a new password below.</p>

<form action="{{ path('acts_camdram_security_reset_password', {email: email, token: token}) }}" method="post">
    {{ form_row(form.password) }}
    {{ form_rest(form) }}
    <div class="text-right">
        <input type="submit" class="button small" value="Reset password" />
    </div>
</form>
{% endblock %}
