{% extends 'layout.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
        <h4>Reset password</h4>
        <p>Your password has been successfully reset. You should now be able to log in below.</p>
        {{ include('account/login_form.html.twig', {last_email: email, error:null}) }}
    </div>
</div>
{% endblock %}
