{% extends 'layout.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
        <h4>Reset password</h4>
        <p>There's a problem with the password reset token - maybe this link's already been used to reset your password?</p>
        <p>If you're having problems, please contact <a href="mailto:support@camdram.net">support@camdram.net</p>
    </div>
</div>
{% endblock %}
