{% extends 'layout.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns">
        <h4>Reset password</h4>
        <p>Please enter a new password below.</p>
    </div>
</div>
<form action="{{ path('acts_camdram_security_reset_password', {email: email, token: token}) }}" method="post">
    {{ form_row(form.password) }}
    {{ form_rest(form) }}
    <div class="row">
        <div class="large-9 large-offset-3 columns">
            <input type="submit" class="button small" value="Reset password" />
        </div>
    </div>
</form>
{% endblock %}
