{% extends 'api/layout.html.twig' %}
{% set current_api_nav_id = 'home' %}

{% block title %}API{% endblock %}

{% block api_body %}

    <h4>Home</h4>

    <p>
        The Camdram API allows anyone to create their own applications which read and write
        the data on Camdram using a REST-based API. Data currently supported includes:
    </p>
    <ul>
        <li>Shows</li>
        <li>Venues</li>
        <li>Societies</li>
        <li>People</li>
    </ul>
    <p>
        In order to make requests you must create an API key. This is to enable us to monitor how the API is
        used and to prevent abuse. API keys can be associated with a user, or a society/venue for which you
        are an administrator. Unauthenticated API requests will work to allow for easier prototyping and
        development, but are subjected to very low rate limits and long response delays. Put simply, you will
        want to use an API key.
    </p>
    <p>
        There is some basic documentation available on our sister site <a href="https://camdram.github.io/api">
        Camdram Updates</a>. We also have a <a href="https://lists.srcf.net/mailman/listinfo/camdram-api-users">
        mailing list</a> which we strongly advise all consumers of our API subscribe to. Currently this requires
        Raven access in order to access the Mailman interface, however please contact us if you do not have a
        Raven account and wish to subscribed manually by a member of the Camdram team.
    </p>
    <p>
        The API uses mostly the same URL structure as Camdram itself. If you're not sure what an endpoint's URL
        is, try simply adding '.json' or '.xml' to the URL for a relevant page.
    </p>

{% endblock %}
