@import "./vars.scss";

@mixin brighten($factor) {
  filter: brightness($factor);
  -webkit-filter: brightness($factor);
  -moz-filter: brightness($factor);
  -o-filter: brightness($factor);
  -ms-filter: brightness($factor);
}

html, body {
  height: 100%;
}
#wrapper {
  flex-grow: 1;

  &:before {
    content: "";
    position:absolute;
    display:block;
    max-width:$row-width;
    background:$white;
    width:100%;
    padding: 0 emCalc(15);
    box-sizing:border-box;

    bottom:0;
    top:120px;
    z-index:-5;

    @media only screen and (min-width: $row-width) {
      left:50%;
      margin-left: $row-width * -0.5;
    }
  }
}

body {
  background:$background-color;
  -webkit-text-size-adjust:100%; /* Don't mess with our font sizes! */
  -moz-text-size-adjust:100%;    /* https://github.com/camdram/camdram/issues/442 */
  -ms-text-size-adjust:100%;
  display: flex;                 /* Force page to fill all vertical space. */
  flex-flow: column;
}

nav.navbar {
  .fa {
    display: inline;
    padding: 0 4px;
  }
  &:first-of-type {
    > div > ul > li > a {
      font-size: 0.8em;
      font-weight: 700;
    }
    @media (min-width: $width-small) {
      .opt-dropdown a {
        font-size: 0.8em;
        font-weight: 700;
      }
    }
    #login-link a {
      display: inline-block;
      &.icon-link {
        padding: 0 5px 0 0;
      }
    }
    #account-link > a {
      /** User names might be very long. */
      @media (max-width: 499px) {
        max-width: 12em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &:nth-of-type(2) {
    > div > ul:first-child {
      @media (max-width: 499px) {
        .fa + span {display: none;}
      }
      @media (min-width: 500px) {
        .fa {display: none;}
      }
    }
  }
}

#wrapper > section {
  max-width: $row-width;
  margin:auto;
  padding: 1.5rem 1.25rem 1.25rem;
  background:$white;
  word-wrap:break-word;
}

#content {
  font-size: .875rem;

  ul {
    list-style-position: inside;
    padding-left:20px;
  }

  .inline-list {
    padding-left:0;
  }

  img {
    margin-bottom:0.8em;
  }
}

footer {
  background:$dark-grey;
  color: $white;
  h5 {
    color: $white;
  }
  p {
    text-align:center;
    margin:auto;
    color:white;
    padding:10px 0;
    font-size:0.9em;
  }
  > div {
    max-width: $row-width;
    margin: 0 auto;
  }
  > #sitemap {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    > div {
      display: inline-block; /* This is purely a fallback for old browsers, probably not necessary */
      padding: 0.8em;
      vertical-align: top;
      flex: 1;
    }
  }
}

header#main-header {
  background:$orange;
  clear: both;
  > div {
    max-width: $row-width;
    margin: 0 auto;
    display: flex;
    @media not screen and (min-width: 768px) {
      &::before {
        /* Why 72? It's the sum of all the x-direction padding across .search. */
        content: "";
        display: block;
        flex: 0 1 72px;
      }
    }
  }

  #logo-block {
    text-align: center;
    position: relative;
    margin: 0;
    height: 80px;
    flex: 1 1 0;

    @media only screen and (min-width: 768px) {
      min-width: 220px;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border-style: solid;
        border-color: white $orange;
        border-width: 40px 0 40px 9px;
      }
    }

    a {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .search {
    /* WARNING Android bug ahead. In experiments on a random old phone, animating width will
     * lose focus, so the bar collapses again. Animating flex or right is fine. 🤷
     * Obtain an Android device before editing the below!
     * See https://stackoverflow.com/q/14854359, https://github.com/camdram/camdram/issues/499 */
    height: 80px;
    #searchfield {
      font-size: 0.875rem;
      height: 2.3125em;
    }

    @media only screen and (min-width: 768px) {
      position: relative;
      padding: 20px 30px 0 30px;
      flex: 3;
      background: #fff;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border-style: solid;
        border-color: $orange white;
        border-width: 40px 0 40px 9px;
      }
    }

    @media not screen and (min-width: 768px) {
      background: $orange;
      flex: 10 0 100%;
      padding: 20px 10px;
      transition: flex 500ms ease;
      /* .active is JS to make up for lack of :focus-within support */
      /* Supporting Edge and :focus-within at the same time involves excessive
         faff and it's not unreasonable to expect clients to have JS. */
      &:not(.active) /*:not(:focus-within)*/ {
        flex: 0 0 0;
        #search_form {
          border: none;
          background: none;
          box-shadow: none;
        }
        i {
          color: white;
        }
        input {
          cursor: pointer;
          opacity: 0;
        }
        #results {
          display: none;
        }
      }
    }
  }
}

h1, h2, h3, h4, h5 {
  small {
    display: inline-block;
    line-height: normal;
    color: #6f6f6f;
    font-size: 60%;
  }
}

#account-link img {
  margin-right:3px;
  box-shadow: 0 0 3px #fff;
  margin-top:-7px;
  margin-bottom:-4px;
}

a.icon-link {
  &.icon-link-textual {
    @include menubutton(white, bold, $dark-grey, $light-grey);
  }

  &.icon-link-destructive {
    @include menubutton(white, bold, $destructive, $destructive-light);
  }

  > img {
    padding: 4px;
    border-radius: 2px;
    box-sizing: content-box;
    margin-bottom: 0 !important;

    &[src*="facebook"] {
      background-color: #4267B2;
    }

    &[src*="google"] {
      background-color: #fff;
    }

    &[src*="raven"] {
      background-color: #d3d3d3;
    }

    &[src*="twitter"] {
      background-color: #1DA1F2;
    }
  }

  &:not(.icon-link-textual):not(.icon-link-destructive):hover {
    > img {
      @include brighten(1.5);
    }
  }
}

table {
  border-collapse: collapse;
  width:100%;
}

#nav-edit-link i {
  font-size: 1.5em;
  vertical-align: middle;
}
.panel {
  @include panel(#f2f2f2);
}
$panel-font-color-alt: #f00;
.error_panel {
  @include panel(rgba(198, 15, 19, 0.1));
}

$panel-font-color-alt: #000;
.warning_panel {
  @include panel(rgba(198, 198, 0, 0.1));
}

.button-neutral
{
@include button(
    // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
    rgba(200, 200, 200, 1),
  );
}

.dropzone {
    @include panel(#ddd);
    border: 4px dashed black;
    min-height: 150px;
    cursor: pointer;
}

.reveal-modal {
  position: fixed;
}

#dev-warning {
  background:#ffdddd;
  text-align:center;
  padding:0.1em 1em;
  font-size:0.9em;

  h3 {
    color:#a00;
  }
}

#site-notice {
  background:#dfdfff;
  text-align:center;
  padding:0.1em 1em;
  font-size:0.9em;

  h3 {
    color:#000000;
  }
}

/**
 * Internet Exporer-specific hacks
 */
_:-ms-input-placeholder, :root #home-diary-nav ul, :root body {
  display: block; /* replace flex */
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;

   .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(58, 57, 58);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .tooltiptext-left {
    top: -5px;
    right: 105%;
  }

}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
