$background-color: #fff9e3;
$white: #fff;
$orange: #fe5c1f;
$dark-grey: #3a393a;
$light-grey: #666;
$destructive: #B71C1C;
$destructive-light: #D32F2F;

$primary-color: $orange;
$secondary-color: #999;

$topbar-height: 40px;
$topbar-bg: $dark-grey;
$topbar-margin-bottom: 0;
$topbar-link-bg-hover: $light-grey;
$topbar-link-font-size: 0.9em;
$topbar-link-weight: normal;
$topbar-breakpoint: 1px;

$section-border-color: #e6e6e6;

@import "foundation";

@mixin brighten($factor) {
  filter: brightness($factor);
  -webkit-filter: brightness($factor);
  -moz-filter: brightness($factor);
  -o-filter: brightness($factor);
  -ms-filter: brightness($factor);
}

#second-top-bar > .top-bar-section {
  max-width:$row-width;
  margin:auto;

  ul {
    padding-left:0;

    li.active > a:hover {
      background:inherit;
      cursor:default;
    }
  }

  ul.left li .fa {
      display: none;
    }

  @media only screen and (max-width: 500px) {
    li a, ul.right li.has-dropdown > a {
      /* second selector is redundant but needed to gain precedence over an existing !important. */
      padding-left: 5px !important;
      padding-right: 5px !important;
    }

    > ul > li > a > .fa {
      display: inline !important;
      padding: 0 4px;

      ~ span {
        display: none;
      }
    }

    #nav-edit-link::after {
      content: none; /* No drop-down arrow on small screens. */
    }
  }
}

html, body {
  height: 100%;
}
#wrapper {
  flex-grow: 1;

  &:before {
    content: "";
    position:absolute;
    display:block;
    max-width:$row-width;
    background:$white;
    width:100%;
    padding: 0 emCalc(15);
    box-sizing:border-box;

    bottom:0;
    top:120px;
    z-index:-5;

    @media only screen and (min-width: $row-width) {
      left:50%;
      margin-left: $row-width * -0.5;
    }
  }
}

body {
  background:$background-color;
  -webkit-text-size-adjust:100%; /* Don't mess with our font sizes! */
  -moz-text-size-adjust:100%;    /* https://github.com/camdram/camdram/issues/442 */
  -ms-text-size-adjust:100%;
  display: flex;                 /* Force page to fill all vertical space. */
  flex-flow: column;
}


#wrapper > section {
  max-width:$row-width;
  margin:auto;
  padding: emCalc(10) emCalc(15) emCalc(20) emCalc(15);
  min-height:100%;
  background:$white;
  word-wrap:break-word;


}

#content {

  p, li {
    font-size: emCalc(14);
  }

  ul {
    list-style-position: inside;
    padding-left:20px;
  }

  .inline-list {
    padding-left:0;
  }

  img {
    margin-bottom:0.8em;
  }
}

footer {
  background:$dark-grey;
  color: $white;
  h5 {
    color: $white;
  }
  p {
    text-align:center;
    margin:auto;
    color:white;
    padding:10px 0;
    font-size:0.9em;
  }
  > #sitemap {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    > div {
      display: inline-block; /* This is purely a fallback for old browsers, probably not necessary */
      padding: 0.8em;
      vertical-align: top;
      flex: 1;
    }
  }
}

header {
  background:$orange;
  clear: both;
  .row {
    display: flex;
    @media only screen and (max-width: 768px) {
      &::before {
        /* Why 72? It's the sum of all the x-direction padding across .search. */
        content: "";
        display: block;
        flex: 0 1 72px;
      }
    }
  }

  #logo-block {
    text-align: center;
    position: relative;
    margin: 0;
    height: 80px;
    flex: 1 1 0;

    @media only screen and (min-width: 768px) {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border-style: solid;
        border-color: white $orange;
        border-width: 40px 0 40px 9px;
      }
    }

    a {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .search {
    /* WARNING Android bug ahead. In experiments on a random old phone, animating width will
     * lose focus, so the bar collapses again. Animating flex or right is fine. 🤷
     * Obtain an Android device before editing the below!
     * See https://stackoverflow.com/q/14854359, https://github.com/camdram/camdram/issues/499 */
    height: 80px;

    @media only screen and (min-width: 768px) {
      position: relative;
      padding: 20px 30px 0 30px;
      flex: 3;
      background: #fff;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border-style: solid;
        border-color: $orange white;
        border-width: 40px 0 40px 9px;
      }
    }

    @media only screen and (max-width: 768px) {
      background: $orange;
      flex: 10 0 100%;
      padding: 20px 10px;
      transition: flex 500ms ease;
      /* .active is JS to make up for lack of :focus-within support */
      &:not(.active):not(:focus-within) {
        flex: 0 0 0;
        #search_form {
          border: none;
          background: none;
          box-shadow: none;
        }
        i {
          color: white;
        }
        input {
          cursor: pointer;
          opacity: 0;
        }
        #results {
          display: none;
        }
      }
    }
  }
}

h1, h2, h3, h4 {
  small {
    display: inline-block;
    line-height: normal;
  }
}

.diary-week {
  font-size:0.9em;
}

.topbar-dropdown {
  position:absolute;
  top:9999px;
  z-index:99;
}

#account-link img {
  margin-right:3px;
  box-shadow: 0 0 3px #fff;
  margin-top:-7px;
  margin-bottom:-4px;
}

$default-float: right;

ul.topbar-dropdown {
  @include dropdown-container(list, true, 300px);
  margin:0;
  width:auto;
  list-style:none;

  a {
    padding:0.2em 0.8em;
    display:block;
    &:hover {
      background:#eee;
    }
  }

}

#login-dropdown {
  width:300px;
  background:$light-grey;
  color:white;
  font-size:0.8em;
  padding-top:1em;

  a, label {
    color: white;
    font-size:1em;
  }

  .button {
    margin-bottom:0;
  }
}

#header-bar {
  background:#3a393a;
  height: auto;

  section {
    max-width:$row-width;
    margin:auto;

    &:after {
      content:" ";
      clear:both;
      height:0;
      display:block;
    }

    @media only screen and (max-width: 500px) {
      ul li.has-dropdown > a {
        padding-left: 8px !important;
        padding-right: 8px !important;
        i.fa {
          padding: 0 5px;
        }
      }
      li.has-dropdown > a::after {
        content: none;
      }
    }

    > ul {
      margin:0;
      padding-left:0;
      background: $dark-grey;

      > li {
        color: white;

        > a {
          color: white;
          display:inline-block;
          font-size: 0.8em;
          font-weight: bold;
          width: auto;

          &.icon-link {
            padding: 0;
            vertical-align: middle;
          }
        }

        &#login-link {
          padding-right:5px;

          > a:first-child {
            padding-right:5px;
          }
        }

        &:hover {
          background: $light-grey;
        }
        display:block;
        float:left;
      }
    }
  }
}

a.icon-link {
  &.icon-link-textual {
    padding-right: 0.5em;
    border-radius: 4px;
    background-color: $dark-grey;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 1px 0;
    display: inline-block;

    &:hover {
      background: $light-grey;
    }
  }

  &.icon-link-destructive {
    padding-right: 0.5em;
    border-radius: 4px;
    background-color: $destructive;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 1px 0;
    display: inline-block;

    &:hover {
      background: $destructive-light;
    }
  }

  > img {
    padding: 4px;
    border-radius: 2px;
    box-sizing: content-box;
    margin-bottom: 0 !important;

    &[src*="facebook"] {
      background-color: #4267B2;
    }

    &[src*="google"] {
      background-color: #fff;
    }

    &[src*="raven"] {
      background-color: #d3d3d3;
    }

    &[src*="twitter"] {
      background-color: #1DA1F2;
    }
  }

  &:not(.icon-link-textual):not(.icon-link-destructive):hover {
    > img {
      @include brighten(1.5);
    }
  }
}

table {
  border-collapse: collapse;
  width:100%;
}

#nav-edit-link {
  line-height:inherit;
  padding-top:0.7em;
  i {
    font-size:1.5em;
  }
}
$panel-font-color-alt: #f00;
.error_panel {
  @include panel(rgba(198, 15, 19, 0.1));
}

$panel-font-color-alt: #000;
.warning_panel {
  @include panel(rgba(198, 198, 0, 0.1));
}

.button-neutral
{
@include button(
    // $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)
    $button-med,
    // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
    rgba(200, 200, 200, 1),
    // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
    false,
    // We can set $full-width:true to remove side padding extend width. Default:false
    false,
    // We can set $disabled:true to create a disabled transparent button. Default:false
    false
  );
}

.dropzone {
    @include panel(#ddd);
    border: 4px dashed black;
    min-height: 150px;
    cursor: pointer;
}

.reveal-modal {
  position: fixed;
}

#dev-warning {
  background:#ffdddd;
  text-align:center;
  padding:0.1em 1em;
  font-size:0.9em;

  h3 {
    color:#a00;
  }
}

#site-notice {
  background:#dfdfff;
  text-align:center;
  padding:0.1em 1em;
  font-size:0.9em;

  h3 {
    color:#000000;
  }
}

.vacancies-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  ul {
    flex-grow: 1;
    text-align: right;
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    li {
      display: inline-block;
      margin-left: 1em;
    }
  }
}
