@import "./vars.scss";

#entity-header {
    @include panel(#f2f2f2);
}

.vacancies-panel {
    @include panel(rgb(250, 237, 220), 1em 1em 1em);
    border-radius: 7px;

    &.hidden {
        background: rgb(240, 240, 240);
    }

    hr {
        border-color: var(--custom-color, $orange);
        margin-left: auto;
        margin-right: auto;
        @media (min-width: $width-small) {
            max-width: 40em;
        }
    }
}

.vacancies-show-panel {
    padding: 0.5em 0;
    margin-bottom: 0.5em;
    border: solid var(--custom-color, $orange);
    border-width: 1px 0;

    @media (min-width: $width-small) {
        background: white;
        border-width: 8px 1px 1px;
        padding: 0.5em;
        float: right;
        margin-left: 1em;
        width: 30em;
    }
}


.entity-has-theme-color .panel,
.entity-has-theme-color .vacancies-panel {
  border-color: var(--custom-color);
  border-width: 8px 1px 1px;
  border-radius: 0;
  background: none;
}

.admin-panel {
  @include panel(rgb(255,240,200), 1.5em 2em 1em);
  --primary-color: #{$orange};

  li a.active {
    color: black;
    cursor: default;
  }

  ul[role="menubar"] {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0 !important;
    list-style: none;
    > li {
      flex: 12em;
      margin: 2px;
      > form { width: 100%; height: 100%; }
      > a, button {
        @include menubutton(black, normal, transparent, white,
                          rgba($orange, 0.3) solid, rgba($orange, 0.4) solid);
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        &.button-destructive:hover, &.button-destructive:focus {
          background: $destructive-light;
          color: white;
        }
      }
    }
  }
}

.news-link {
  @include panel(rgb(230,230,230), 1em);
  margin-bottom:10px;
  font-size:0.8em;

  h6 {
    margin:0;
  }
}

.entity-image-container {
  max-width: 240px;
  float: left;
  clear: left;
  margin-right: 1em;
  @media (max-width: 500px) {
    max-width: 100% !important;
    width: 100% !important;
    margin: auto;
  }
  .map-small ~ & {
    margin-top: 1em;
    max-width: 270px;
    width: 270px; /* Specifying this explicity to make the image and map line up. */
  }
}

@media (min-width: 900px) {
  .entity-image-container ~ .entity-body-text {
    margin-left: 260px;
    margin-right: 0;
  }
  .map-small ~ .entity-body-text {
    margin-left: 290px;
    margin-right: 0;
  }
}

.show-society {
  font-style:italic;
  margin-bottom:0.7em;
}

.show-roles-container {
  display: flex;
  flex-flow: row wrap;
  > div {
    flex: 14em;
    margin: 1em;
    form {
      clear: both;
      margin: 0;
      > .show-new-role-fields {
        display: flex;
        flex-flow: row wrap;
        > input[type="text"] {
          width: 8em;
          flex: 1 auto;
          margin: 2px;
        }
      }
      > button {
        margin: 2px;
      }
    }
  }
}

.organisation-social > .split-header + .news-item::before {
  /* Adds a virtual <hr> to the top of the news container. */
  display: block;
  margin: 1.25em 0 1.1875em;
  border: solid #ddd;
  border-width: 1px 0 0;
  content: "";
  height: 0;
}

.historic-show-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0 !important;
  li {
    flex: 15rem;
    margin: 1.5em 0.5em;
    display: flex;
    flex-flow: column;
    h4 {
      margin: auto 0;
    }
    div {
      line-height: 1.2em;
      position: relative;
      height: 7.2em;
      overflow: hidden;
      margin-top: auto;
      &::after {
        content: "";
        display: block;
        width: 45%;
        height: 1.2em;
        position: absolute;
        bottom: 0;
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      }
    }
  }
  &::before, &::after {
    /* the align-the-last-box trick */
    content: "";
    order: 99;
    height: 0;
    flex: 15rem;
    margin: 0.5em;
  }
}

.tag-container .tag {
    background: lighten($orange, 35%);
    padding: 0.4em 0.5em;
    margin: 0.5em;
    border: 1px solid $orange;
    button { padding-left: 0.5em; }
}

#content ul.event-dates-section {
    margin: 0 0 1em 1em;
    padding-left: 30px;
    list-style: none;
    &::before {
        content: "\f073";
        font-family: FontAwesome;
        color: var(--primary-color, #fe5c1f);
        float: left;
        margin-left: -30px;
    }
}

details.content-warning {
    border: 1px solid #505050;
    border-radius: 4px;
    display: flex;
    margin: 0.5em 0 1em;
    overflow-x: hidden;

    > summary {
        display: block;
        list-style: none;
        padding: 0.75em;
        transition: background-color 200ms, color 200ms;
        user-select: none;
        cursor: pointer;
        /* support iOS Safari */
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        &::-webkit-details-marker {
            display: none;
        }
        &::marker {
            display: none;
        }
        > div {
            display: grid;
        }
        :nth-child(n+2) {
            grid-column: 2;
            grid-row: 1;
            justify-self: end;
            opacity: 0.9;
            font-size: 95%;
            align-self: center;
        }
        :nth-child(3) {
            visibility: hidden;
        }
    }
    &[open] > summary {
        background: #505050;
        color: white;
        :nth-child(2) {
            visibility: hidden;
        }
        :nth-child(3) {
            visibility: visible;
        }
    }
    > div {
        margin: 0.75em;
        color: white;
        transition: color 350ms;
    }
    &[open] > div {
        color: black;
    }
}
