$include-html-classes: false;
@import "foundation";

#entity-header {
  @include panel();
}

/* Use the new feature panel to highlight new features on the site itself. */
.new-feature-panel, .vacancies-panel {
  @include panel(rgb(255,240,153), 1em 2em, false);
  border-radius:10px;
}

.admin-panel {
  @include panel(rgb(255,240,200), 1em 2em, false);

  li a.active {
    color: black;
    cursor: default;
  }
}

.approve-panel {
  @include panel(rgb(255,255,100), 1em, false);

  button {
    margin-top:-0.6em;
  }
}

.news-link {
  @include panel(rgb(230,230,230), 1em, false);
  margin-bottom:10px;
  font-size:0.8em;

  h6 {
    margin:0;
  }
}

.show-society {
  font-style:italic;
  margin-bottom:0.7em;
}

.show-image-container {
  max-width: 240px;
  float: left;
  margin-right: 1em;
  @media (max-width: 500px) {
    max-width: 100%;
    width: 100%;
    margin: auto;
  }
}

.show-image-container ~ .show-body-text {
  @media (min-width: 900px) {
    margin-left: 260px;
    margin-right: 0;
  }
}

.show-roles-container {
  display: flex;
  flex-flow: row wrap;
  > div {
    flex: 14em;
    margin: 1em;
    form {
      clear: both;
      margin: 0;
      > .show-new-role-fields {
        display: flex;
        flex-flow: row wrap;
        > input[type="text"] {
          width: 8em;
          flex: 1 auto;
          margin: 2px;
        }
      }
      > button {
        margin: 2px;
      }
    }
  }
}
