$background-color: #fff9e3;
$white: #fff;
$orange: #fe5c1f;
$dark-grey: #3a393a;
$light-grey: #666;
$destructive: #B71C1C;
$destructive-light: #D32F2F;

$primary-color: $orange;
$secondary-color: #999;

$topbar-height: 40px;
$topbar-bg: $dark-grey;
$topbar-link-bg-hover: $light-grey;
$topbar-link-font-size: 0.9em;
$topbar-breakpoint: 500px;

$section-border-color: #e6e6e6;
$width-small: 768px;
$row-width: 62.5rem;
