@import './vars.scss';

.map-small {
  height:270px;
  width:270px;
  margin-right: 1em;
  @media (max-width: 500px) {
    width: 100%;
    margin: auto;
  }
}

.map-large {
  height:300px;
  margin-bottom:15px;
}

@media only screen and (max-width: 767px) {
  .map-large {
    height: 250px;
  }
}

#venues_list .marker {
  text-align: center;
  margin: 1em 1.5em 0.2em;
  float: left;
  cursor: pointer;
}

/* Rebrand Leaflet */
#content .leaflet-control-attribution a {
    color: $primary-color;
    color: var(--primary-color, $primary-color);
}
.custom-map-icon {
    background-image: url('/images/leaflet-marker-shadow.png');
    path {
        fill: $primary-color;
        fill: var(--primary-color, $primary-color);
    }
}
