.map-small {
  height:270px;
  width:270px;
  margin-right: 1em;
  @media (max-width: 500px) {
    width: 100%;
    margin: auto;
  }
}

.map-large {
  height:300px;
  margin-bottom:15px;
}

@media only screen and (max-width: 767px) {
  .map-large {
    height: 250px;
  }
}

#venues_list .marker {
  text-align: center;
  margin: 1em 1.5em 0.2em;
  float: left;
  cursor: pointer;
}
