{% extends 'layout.html.twig' %}

{% block title %}Roles{% endblock %}

{% block body %}
    <h2>Roles</h2>
    <ul class="large-block-list">
    {%- for p in positions -%}
        <li><a href="{{ path('get_position', {identifier: p.slug})}}">{{ p.primaryName }}</a></li>
    {%- endfor -%}
    </ul>
{% endblock %}
