{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Mailout{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-12 columns">
            <h3><a href="{{ path('acts_camdram_audit') }}">Send Mailout</a></h3>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            
            <div class="text-right">
                <i class="fa fa-exclamation-triangle"></i> No confirmation!
                <input type="submit" value="Send" class="button"/>
            </div>
            
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
