{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'contact-us' %}
{% block title %}Contact Us{% endblock %}

{% block body %}
<h2>Contact Us</h2>

<h3>Message sent</h3>

<p>One of the Camdram editors will get back to you in due course.</p>
{% endblock %}
