{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Society: {{ entity.name }} - Contact{% endblock %}

{% block body %}

    {% set current_subnav_id = 'show_contact' %}

    <div class="row">
        <h2><a href="{{ path('get_society', {identifier: entity.slug}) }}">{{ entity.name }}</a></h2>

        <h3>Contact Society</h3>

        <p>Your message has been sent to the society administrators.</p>

        <p>
            <a href="{{ path('get_society', {identifier: entity.slug}) }}" class="button small">Return to the society</a>
        </p>
    </div>

{% endblock %}
