{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Society: {{ society.name }}{% endblock %}

{% block body %}
  <div class="row">
    <div class="twelve columns">
        {% render url('acts_camdram_entity_toolbar', {id: society.id}) %}

      <h2>{{ society.name }} <small>- {{ society.shortname }}</small></h2>

        {{ society.description | camdram_markdown }}

        <ul>
            {% for item in society.news %}
                <li>
                    {% include 'ActsCamdramBundle:News:item.html.twig' %}
                </li>
            {% endfor %}
        </ul>

        <h5>Shows</h5>
        {% render url('get_society_shows', {identifier: society.slug}) %}
    </div>
  </div>

{% endblock %}

