{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'societies' %}
{% block title %}Society: {{ society.name }}{% endblock %}

{% block option_links %}
    {% render url('acts_camdram_entity_toolbar', {id: society.id}) %}
{% endblock %}

{% block body %}
  <div class="row">
    <div class="twelve columns">
        <h2>{{ society.name }} <small>- {{ society.shortname }}</small></h2>

        <p>{{ society.description | camdram_markdown }}</p>

        <ul>
            {% for item in society.news %}
                <li>
                    {% include 'ActsCamdramBundle:News:item.html.twig' %}
                </li>
            {% endfor %}
        </ul>

        <h5>Shows</h5>
        {% render url('get_society_shows', {identifier: society.slug}) %}
    </div>
  </div>

{% endblock %}

