{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'contact-us' %}
{% block title %}Contact Us{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns">
        <h2>Contact Us</h2>
        
        <p>Camdram is run solely by volunteers. We are here to help, but it's not always possible for us to respond
            rapidly. Please check our <a href="{{ path('acts_camdram_faq') }}">frequently asked questions</a> (FAQ) 
            page before contacting us. 
        </p>
        
        <p>We continuously monitor Camdram so if you got an error message, chances are that we already know! However
            if you've found something that isn't working right, please create an 'issue' on our
            <a href="http://github.com/camdram/camdram/issues" target="_blank">GitHub</a> page (external website).
            You will automatically receive email notifications when someone is working on the issue and when it is fixed.
            See <a href="{{ path('acts_camdram_development') }}">here</a> for more information.
        </p>
        
        <p>For anything else, if the FAQ page didn't help, please fill in the form below and we'll get back to you. 
            Alternatively, you can  email <a href="mailto:support@camdram.net">support@camdram.net</a>.
        </p>

        <form action="{{ path('acts_camdram_contact_us_send') }}" method="post">
            {{ include('contact_us/form.html.twig') }}
        </form>
    </div>
</div>
{% endblock %}
