{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'contact-us' %}
{% block title %}Contact Us{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns">
        <h2>Contact Us</h2>

        <h3>Message sent</h3>

        <p>One of the Camdram editors will get back to you in due course.</p>
    </div>
</div>
{% endblock %}
