{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Frequently Asked Questions{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns">
        <h2>Frequently Asked Questions</h2>

        <p>
        We hope that Camdram is easy to use, but sometimes our users have a few
        questions. We've put some answers to our most frequently asked questions
        below. If you have a question that hasn't been answered below, then you
        can <a href="{{ path('acts_camdram_contact_us') }}">contact us</a>.
        </p>

        <h3>How do I advertise for actors / production crew?</h3>
        
        <p>
        This is a two-step process. Almost everything on Camdram is based around
        the idea of show (event) listings: information about the performance(s) 
        themselves, from an audience point-of-view rather than backstage. So,
        first create a show listing on Camdram, with the general information that
        potential audience members would want to know. Think of this as a marketing
        space: include the same stuff as on a poster or ticketing website.
        </p>
        
        <p>
        Once the show listing has been added and approved, then you can advertise
        auditions or production crew vacancies from the show page. There's separate
        space there to add the information that people applying for the vacancies
        need to know - that kind of 'backstage only' information doesn't need to 
        be in the general show description.
        </p>
        
        <h3>My name's been misspelt or entered wrongly, can you change it?</h3>

        <p>
        Details on Camdram are all added by our users. For most shows it's either
        the producer or director who adds this information: please contact them
        if you want something changing. This would include spelling mistakes or 
        variations on your name that you'd prefer to be consistent across Camdram. 
        </p>
        
        <p>
        If you are unable to contact the show listing's administrators, please 
        <a href="{{ path('acts_camdram_contact_us') }}">contact us</a> including 
        details of which listings need to change, and what the correct form is.
        </p>

        <h3>I'm on a society committee, how do I edit the society's page on Camdram?</h3>
        <p>
        Logged-in Camdram users can be given special rights to control a society's
        page, and to authorise submitted show listings that are produced by that society.
        These rights can be passed on from user to user; if you don't have them and you
        think you should, speak to others on your committee or the outgoing committee as
        one or more of them should have the rights.
        </p>
        
        <h3>Can my society be added to Camdram?</h3>
        <p>
            Probably, yes. We're not trying to be exclusive - just 
            <a href="{{ path('acts_camdram_contact_us') }}">ask us</a>. As well as being on
            the main list of societies, this will allow people to choose your society when
            creating new shows. 
        </p>
        
        <h3>My event isn't a play, is it suitable for Camdram?</h3>
        <p>
        Camdram was created to support student theatre in Cambridge.  That is still 
        our core focus, but we recognise that there are quite a few related activities that
        can also benefit from what Camdram offers. As a general rule, we're OK with 
        listings for any events that would be of significant interest to somebody
        who's on this site expecting to see Cambridge student theatre events. 
        </p>
        
        <p>
        So, student theatre organised by Cambridge societies for performance elsewhere is 
        fine (e.g. tours and theatre festivals), and we welcome non-student societies in the 
        Cambridge area provided students are welcome to participate. 
        </p>
        
        <p>
        Cambridge-based non-theatre events that need similarly-skilled people involved are also OK.
        For example short films and radio plays still need actors and directors, and usually 
        also a producer whose role is similar to in theatre, plus perhaps technicians 
        and other "backstage" roles with a lot of cross-over from theatre. 
        </p>

        <p>
        Because of the site's history, some things are set up very specifically for standard theatre
        shows, for example the way we ask for "show dates". We hope to adapt Camdram in the future
        to make it easier to list non-shows; for now, if you're listing a non-show event please
        just enter something meaningful in the date fields (for example first screening or broadcast date).
        </p>

        <p>
        If in doubt about whether your event is suitable, please 
        <a href="{{ path('acts_camdram_contact_us') }}">contact us</a> to discuss it. 
        </p>

        <h3>Can I buy tickets for your show?</h3>

        <p>
        Camdram is not directly involved with any of the shows we list.
        Tickets can usually be bought from the performance venue. 
        Some of the most commonly used venues for student shows are listed below:
        <ul>
            <li><a href="http://www.adctheatre.com/">ADC Theatre</a></li>
            <li><a href="http://www.corpusplayroom.com/">Corpus Playroom</a></li>
            <li><a href="http://www.westroad.org/">West Road Concert Hall</a></li>
        </ul>
        </p>
        
        <h3>I've written a fantastic new play, would you like to buy the rights?</h3>

        <p>
        Since Camdram provides show listings only, you may wish to contact one
        of a number of groups that support new writing in Cambridge.
        <ul>
            <li><a href="http://www.writeon.org.uk/">WRiTEON</a> regularly 
            perform new writing in Cambridge.
            </li>
            <li><a href="http://www.menagerie.uk.com">Menagerie Theatre Company</a> supports 
            new writing through workshops and courses.
            </li>
            <li><a href="http://www.themarlowesociety.com/">The Marlowe Society's</a> The 
            Other Prize is dedicated to new student writing.
            </li>
            <li><a href="https://www.adctheatre.com/get-involved/new-writing.aspx">The ADC Theatre</a> has
            a dedicated scheme to support new student writing.
            </li>
        </ul>
        </p>
        
        <br />
    </div>
</div>
{% endblock %}

