{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns">
        <h2>Privacy Policy</h2>

        <p>This page describes what data camdram.net collects about you when you 
        use the website. The general rule is that we try not to be evil; 
        camdram.net does store and log personal information if you create an 
        account with us, but we do not disclose it to anyone. If you have any 
        questions, please contact <a href="mailto:websupport@camdram.net?Subject=Privacy%20policy" target="_top">
        websupport@camdram.net</a>.</p>
        <ul><li><p>Our web server collects the domain name and IP address of the 
        host from which you access the internet, the browser software you use 
        and your operating system, the date and time you access each page, and 
        the domain name of the site which linked to camdram.net.</p>

        <p>This data is used to determine the number of visitors to different 
        sections of our site, and to create statistics about what browser or 
        operating system they use. We do not use it to track or record personal 
        information. The raw data is not disclosed to anyone outside the 
        camdram.net administrative team. Anonymised statistics may be made 
        publicly available.</p></li>

        <li><p>When you create an account on camdram.net, you may provide 
        optional personal information about yourself. This information is used 
        to obtain anonymous statistics about the users of our site, and to 
        contact you if you are a society administrator with questions we may 
        have about your society's shows. The raw data is not disclosed to anyone 
        outside the camdram.net administrative team. Anonymised statistics may 
        be made publically available.</p></li>

        <li><p>If you identify yourself by logging in to camdram.net, we log any 
        administrative actions you take on the website. This is used for 
        debugging and security purposes. This information is not disclosed to 
        anyone outside the camdram.net administrative team.</p></li>

        <li><p>We will provide any information to authorities if required to by 
        law.</p></li></ul><br />
    </div>
</div>
{% endblock %}

