{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns">
        <div class="row">
        <h2 id="privacy">Privacy Policy</h2>

        <p>This page describes what data camdram.net collects about you when you
        use the website. The general rule is that we try not to be evil;
        camdram.net does store and log personal information if you create an
        account with us, but we do not disclose it to anyone. If you have any
        questions, please contact <a href="mailto:websupport@camdram.net?Subject=Privacy%20policy" target="_top">
        websupport@camdram.net</a>.</p>
        <ul><li>Our web server collects the domain name and IP address of the
        host from which you access the internet, the browser software you use
        and your operating system, the date and time you access each page, and
        the domain name of the site which linked to camdram.net.</li>

        <li>This data is used to determine the number of visitors to different
        sections of our site, and to create statistics about what browser or
        operating system they use. We do not use it to track or record personal
        information. The raw data is not disclosed to anyone outside the
        camdram.net administrative team. Anonymised statistics may be made
        publicly available.</li>

        <li>When you create an account on camdram.net, you may provide
        optional personal information about yourself. This information is used
        to obtain anonymous statistics about the users of our site, and to
        contact you if you are a society administrator with questions we may
        have about your society's shows. The raw data is not disclosed to anyone
        outside the camdram.net administrative team. Anonymised statistics may
        be made publically available.</li>

        <li>If you identify yourself by logging in to camdram.net, we log any
        administrative actions you take on the website. This is used for
        debugging and security purposes. This information is not disclosed to
        anyone outside the camdram.net administrative team.</li>

        <li>We will provide any information to authorities if required to by
        law.</li></ul><br />
        </div>
        <div class="row">
        <h2 id="cookies">Cookies</h2>
        <p>To find out about what cookies are, take a look at these websites.</p>
        <ul>
            <li><a href="http://www.bbc.co.uk/privacy/cookies/">www.bbc.co.uk</a></li>
            <li><a href="http://ico.org.uk/for_the_public/topic_specific_guides/online/cookies">The Information Commissioner's Office.</a></li>
        </ul>
        <h3>How does Camdram use cookies?</h3>
        <p>Some cookies are strictly necessary in order for users to navigate
        around the site correctly. Camdram uses a cookie maintain information 
        about the current session, allowing a user to be uniquely identified between
        pages as they navigate around the site.</p>
        <p>Functionality cookies allow Camdram to enable the 'remember me' functionality
        for logging in to Camdram.</p>
        <p>Camdram uses Google Analytics to improve performance of the site and
        provide a better user experience. More information about what cookies are
        used by Google Analytics can be found <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">here</a>.
        This is a tool commonly used on popular websites, including <a href="http://www.gov.uk">www.gov.uk</a> and
        <a href="http://www.bbc.co.uk">the BBC</a>. Google provide a plug-in for
        most common browsers allowing users to <a href="https://tools.google.com/dlpage/gaoptout">opt out</a>.
        </p>
        </div>
    </div>
</div>
{% endblock %}

