{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'shows' %}
{% block title %}Shows{% endblock %}

{% block body %}

<h3>Show Administration</h3>

{{ render(controller('ActsCamdramBundle:ShowAdmin:cgetUnauthorised')) }}

<h5>My Shows</h5>
<ul class="large-block-list">
{% for show in shows %}
    <li>
        <div class="panel">
            <h5>{{ link_entity(show) }}</h5>
            <p>{% include 'performance/show.html.twig' with {'performances': show.performances } %}</p>
            <p>{{ show.description | truncate(200) | strip_new_lines | camdram_markdown }}</p>
            {% if not show.authorised %}
                <em>Not yet visible to the public – awaiting approval.</em>
            {% endif %}
        </div>
    </li>
{% else %}
    <li>You have not created any shows.</li>
{% endfor %}
</ul>
<p>
    <a class="button small" href="{{ path('new_show') }}">Create a show</a>
</p>

{% endblock %}
