{% if shows | length > 0 %}
<h5>Unauthorised shows</h5>
<ul class="large-block-list">
    {% for show in shows %}
        <li>
            <div class="panel">
                <h5>{{ link_entity(show) }}</h5>
                <p>{% include 'performance/show.html.twig' with {'performances': show.performances } %}</p>
                <p>{{ show.description | truncate(200) | strip_new_lines | camdram_markdown }}</p>
            </div>
        </li>
    {% endfor %}
</ul>
{% endif %}
