{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Account Settings{% endblock %}

{% block body %}
    <div class="row">
        <h3>Change password</h3>

        {{ include('ActsCamdramSecurityBundle:Account:change_password_form.html.twig') }}
    </div>
{% endblock %}
