<form action="{{ path('acts_camdram_security_change_password') }}" method="post">
    {{ form_rest(form) }}
    <div class="row">
        <div class="large-9 large-offset-3 columns">
            <input type="submit" class="button small" value="Change" />
        </div>
    </div>
</form>
