{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Account Settings{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-12 columns">
            <h3>Change Password</h3>

            <p>You have successfully changed your password.</p>

            <a href="{{ path('acts_camdram_security_settings') }}" class="button small">Return to account settings</a>
        </div>
    </div>
{% endblock %}
