{% extends '::base.html.twig' %}

{% block main %}

    <div id="wrapper">
        <nav id="header-bar">
            <section>
                <ul class="right">
                    {{ render(controller('ActsCamdramSecurityBundle:Default:toolbar')) }}
                </ul>
            </section>
        </nav>
        <header>
            <div class="row">
                <div class="large-12 columns logo">
                    <h1><img src="{{ asset('bundles/actscamdram/images/logo.png') }}" alt="camdram" title="camdram"/></h1>
                </div>
            </div>
        </header>

        <section id="content">
        {% block body %}{% endblock %}
        </section>

    </div>

{% endblock %}
