acts_camdram_entities_res:
    resource: "routing/entities.yml"
acts_camdram_admin_res:
    resource: "routing/admin.yml"
    prefix: /admin
acts_camdram_diary:
    resource: "routing/diary.yml"
    prefix: /diary
acts_camdram_development:
    resource: "routing/development.yml"
    prefix: /development
acts_camdram_homepage:
    pattern:  /
    defaults: { _controller: ActsCamdramBundle:Default:index }
acts_camdram_play:
    pattern: /plays/{mid}
    defaults: { _controller: ActsCamdramBundle:Play:display }
    requirements:
        mid: .*
acts_camdram_contact:
    resource: "routing/contact_us.yml"