services:

    acts.camdram.type.form_extension:
        class: Acts\CamdramBundle\Form\CamdramFormTypeExtension
        tags:
            - { name: form.type_extension, extended_type: Symfony\Component\Form\Extension\Core\Type\FormType }

    acts.camdram.moderation_manager:
        class: Acts\CamdramBundle\Service\ModerationManager
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@Acts\CamdramBundle\Service\EmailDispatcher'
            - '@camdram.security.acl.provider'
            - '@security.authorization_checker'
            - '@security.token_storage'
            - '@monolog.logger.camdram'

    acts.camdram.listener.doctrine_event_logger:
        class: Acts\CamdramBundle\EventListener\DoctrineEventLogger
        arguments: ['@monolog.logger.camdram']
        tags:
            - { name: doctrine.event_subscriber, connection: default }

    acts.camdram.listener.response_subscriber:
        class: Acts\CamdramBundle\EventListener\ResponseSubscriber
        autowire: true

    acts.camdram.listener.show:
        class: Acts\CamdramBundle\EventListener\ShowListener
        arguments: ['@acts.camdram.moderation_manager', '@acts.camdram.week_manager']
        tags:
            - { name: doctrine.orm.entity_listener }

    acts.camdram.listener.techie_advert:
        class: Acts\CamdramBundle\EventListener\TechieAdvertListener
        tags:
            - { name: doctrine.orm.entity_listener }

    acts.camdram.techie_advert_expiry_validator:
        class: Acts\CamdramBundle\Validator\Constraints\TechieAdvertExpiryValidator
        tags:
            - { name: validator.constraint_validator, alias: camdram.techie_advert_expiry }

    acts.camdram.week_manager:
        class: Acts\CamdramBundle\Service\WeekManager
        arguments: ['@doctrine.orm.entity_manager']
        public: true

    acts.camdram.contact_entity_service: '@Acts\CamdramBundle\Service\ContactEntityService'

    acts.camdram.image_listener:
        class: Acts\CamdramBundle\EventListener\ImageListener
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@security.authorization_checker'
            - '@liip_imagine'
            - '@monolog.logger.camdram'
        tags:
            - { name: kernel.event_listener, event: oneup_uploader.validation, method: validate }
            - { name: kernel.event_listener, event: oneup_uploader.post_persist, method: onUpload }

    acts.camdram.email_logger:
        class: Acts\CamdramBundle\EventListener\EmailLogger
        arguments:
            - '@logger'
            - '@request_stack'
            - '@security.token_storage'
        tags:
          - { name: monolog.logger, channel: mailer }
          - { name: "swiftmailer.default.plugin" }

    acts_camdram.log_procesor:
        class: Acts\CamdramBundle\Service\LogProcessor
        arguments:  ['@security.token_storage']
        tags:
            - { name: monolog.processor, method: processRecord, channel: camdram }
