parameters:
#    acts_camdram.example.class: Acts\CamdramBundle\Example

services:
    acts.camdram.twig.camdram_extension:
        class: Acts\CamdramBundle\Twig\CamdramExtension
        arguments: [@acts.camdram.service.text]
        tags:
            - { name: twig.extension }

    acts.camdram.service.text:
        class: Acts\CamdramBundle\Service\TextService

    acts.camdram.diary_helper:
            class: Acts\CamdramBundle\Service\DiaryHelper
            arguments: [@router]

    acts.camdram.type.college:
        class: Acts\CamdramBundle\Form\Type\CollegeType
        arguments: ~
        tags:
            - { name: form.type, alias: college }

    acts.camdram.type.show_category:
        class: Acts\CamdramBundle\Form\Type\ShowCategoryType
        arguments: ~
        tags:
            - { name: form.type, alias: show_category }

    acts.camdram.type.facebook_link:
        class: Acts\CamdramBundle\Form\Type\FacebookLinkType
        arguments: [@acts.social_api.apis.facebook]
        tags:
            - { name: form.type, alias: facebook_link }

    acts.camdram.type.twitter_link:
        class: Acts\CamdramBundle\Form\Type\TwitterLinkType
        arguments: [@acts.social_api.apis.twitter]
        tags:
            - { name: form.type, alias: twitter_link }

    acts.camdram.type.map_location:
        class: Acts\CamdramBundle\Form\Type\MapLocationType
        arguments: [@ivory_google_map.map=, %map_center%]
        tags:
            - { name: form.type, alias: map_location }

    acts.camdram.type.entity_search:
        class: Acts\CamdramBundle\Form\Type\EntitySearchType
        arguments: [@doctrine.orm.entity_manager]
        tags:
            - { name: form.type, alias: entity_search }

    acts.camdram.type.entity_collection:
        class: Acts\CamdramBundle\Form\Type\EntityCollectionType
        arguments: [@doctrine.orm.entity_manager]
        tags:
            - { name: form.type, alias: entity_collection }

    acts.camdram.type.grant_type:
        class: Acts\CamdramBundle\Form\Type\GrantType
        tags:
            - { name: form.type, alias: grant_type }

    acts.camdarm.type.guesser:
        class: Acts\CamdramBundle\Form\CamdramTypeGuesser
        arguments: ~
        tags:
            - { name: form.type_guesser }

    acts.camdram.type.form_extension:
        class: Acts\CamdramBundle\Form\CamdramFormTypeExtension
        tags:
            - { name: form.type_extension, alias: form }

    acts.camdram.paginator_response_listener:
        class: Acts\CamdramBundle\Rest\EventListener\ViewPaginatorListener
        arguments: [@router, @acts.diary.renderer.html]
        tags:
            - { name: kernel.event_listener, event: kernel.view, method: onKernelView, priority: 105 }

    acts.camdram.search_provider.doctrine:
        class: Acts\CamdramBundle\Search\DoctrineProvider
        arguments: [@doctrine.orm.entity_manager]

    acts.camdram.search_provider.sphinx:
        class: Acts\CamdramBundle\Search\SphinxProvider
        arguments: [@acts.sphinx_realtime.client.default, @acts.sphinx_realtime.index_manager]

    acts.camdram.email_dispatcher:
        class: Acts\CamdramBundle\Service\EmailDispatcher
        arguments: [@swiftmailer.mailer, @twig, %mailer_sender_address%]

    acts.camdram.moderation_manager:
        class: Acts\CamdramBundle\Service\ModerationManager
        arguments:
            - @doctrine.orm.entity_manager
            - @acts.camdram.email_dispatcher
            - @camdram.security.acl.provider
            - @security.context
            - @monolog.logger.camdram

    acts.camdram.listener.doctrine_event_logger:
        class: Acts\CamdramBundle\EventListener\DoctrineEventLogger
        arguments: [@monolog.logger.camdram]
        tags:
            - { name: doctrine.event_subscriber, connection: default }

    acts.camdram.listener.show:
        class: Acts\CamdramBundle\EventListener\ShowListener
        arguments: [@acts.camdram.moderation_manager]
        tags:
            - { name: doctrine.entity_listener }

    acts.camdram.listener.role_search_index:
        class: Acts\CamdramBundle\EventListener\RoleSearchIndexListener
        arguments: [~]
        tags:
            - { name: doctrine.entity_listener }

    acts.camdram.listener.techie_advert:
        class: Acts\CamdramBundle\EventListener\TechieAdvertListener
        arguments: [@acts.time_service]
        tags:
            - { name: doctrine.entity_listener }

    acts.camdram.techie_advert_expiry_validator:
        class: Acts\CamdramBundle\Validator\Constraints\TechieAdvertExpiryValidator
        arguments: [@acts.time_service]
        tags:
            - { name: validator.constraint_validator, alias: camdram.techie_advert_expiry }

    acts.camdram.week_manager:
        class: Acts\CamdramBundle\Service\WeekManager
        arguments: [@doctrine.orm.entity_manager]

    gedmo.listener.sluggable:
        class: Gedmo\Sluggable\SluggableListener
        tags:
            - { name: doctrine.event_subscriber, connection: default }
        calls:
            - [ setAnnotationReader, [ @annotation_reader ] ]

    acts.camdram.phpcr.initializer:
        class: Doctrine\Bundle\PHPCRBundle\Initializer\GenericInitializer
        arguments: [ ["/cms/pages", "/cms/routes"], ]
        tags:
            - { name: doctrine_phpcr.initializer }

    acts.camdram.menu_provider:
        class: Symfony\Cmf\Bundle\MenuBundle\Provider\PhpcrMenuProvider
        arguments:
            - '@cmf_menu.factory'
            - '@doctrine_phpcr'
            - /cms/pages
        tags:
            - { name: knp_menu.provider }
            - { name: cmf_request_aware }

