{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'vacancies' %}

{% block body %}
<div class="row">
    <div class="three columns">
        <ul class="side-nav">
            {% include 'ActsCamdramBundle:Navigation:nav-items.html.twig'  with {items: {
            'auditions': {'text': 'Auditions', 'route': 'get_auditions'},
            'techies': {'text': 'Technical and designer roles', 'route': 'get_techies'},
            'applications': {'text': 'Producer/director roles and show applications', 'route': 'get_applications'},

            }, current_id: current_vacancies_id} %}
        </ul>
    </div>

    <div class="nine columns">
    {% block vacancies_body %}{% endblock %}
    </div>
</div>
{% endblock %}
