{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'societies' %}
{% block title %}Producer/Director Advert - New{% endblock %}

{% block body %}

{% set current_subnav_id = 'new_application' %}
{{ render(admin_panel(org)) }}

<h3>Add show applications advertisement</h3>

<div class="panel">
    <p>Use the form below to create an advertisement for show applications. The advert will be displayed until
        the expiry date.</p>
    <p>
        Please ensure you have your team members' permission <em>before</em> adding their contact
        details to the advert!
    </p>
</div>

{{ form_start(form, {'action': path("acts_camdram_society_postadvert", {identifier: org.slug} )}) }}
{{ include('advert/form.html.twig') }}
{{ form_end(form) }}
{% endblock %}
