{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns">
      <h3>Welcome to Camdram <small> - the portal website for student theatre in Cambridge</small></h3>

    </div>
</div>

<div class="row">
    <div class="nine columns">
        <dl class="tabs contained">
            <dd class="active"><a href="#thisWeek">This week</a></dd>
            <dd><a href="#nextWeek">Next week</a></dd>
        </dl>
        <ul class="tabs-content contained">
            <li class="active" id="thisWeekTab">{% render url('acts_camdram_homepage_this_week') %}</li>
            <li id="nextWeekTab">{% render url('acts_camdram_homepage_next_week') %}</li>
        </ul>
    </div>

    <div class="three columns hide-for-small" id="home_statistics">
        {% render url('acts_camdram_homepage_statistics') with {}, {'standalone': true} %}
    </div>
</div>
  
<div class="row">
    <div class="five columns">
      {% render url('acts_camdram_homepage_vacancies') with {}, {'standalone': true} %}
      <h5>Latest on camdram.net</h5>
        <div id="this_week">
          <h5>This week...</h5>
            <dl class="tabs contained three-up">
                <dd class="active"><a href="#lastYear">last year</a></dd>
                <dd><a href="#fiveYearsAgo">5 years ago</a></dd>
                <dd><a href="#tenYearsAgo">10 years ago</a></dd>
            </dl>
            <ul class="tabs-content contained">
                <li class="active" id="lastYearTab">A show</li>
                <li id="fiveYearsAgoTab">Another show</li>
                <li id="tenYearsAgoTab">Yet another show</li>
            </ul>
        </div>
    </div>
    <div class="seven columns">
        <h4>News</h4>
        <hr />
        {% for item in news %}
            {% include 'ActsCamdramBundle:News:item.html.twig' %}
        {% endfor %}
    </div>
</div>


{% endblock %}
