{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
  <div class="row">
    <div class="twelve columns">
      <h3>Welcome to camdram.net</h3>
      <hr />
    </div>
  </div>

  <div class="row">

    <div class="nine columns">
      <dl class="tabs contained">
        <dd class="active"><a href="#thisWeek">This week</a></dd>
        <dd><a href="#nextWeek">Next week</a></dd>
      </dl>
      <ul class="tabs-content contained">
        <li class="active" id="thisWeekTab">Diary for this week</li>
        <li id="nextWeekTab">Diary for next week</li>
      </ul>

    </div>

      <div class="three columns hide-for-medium-down" id="home_statistics">
        <h5>This week:</h5>
          <strong>7</strong> shows are taking place<br/>
          in <strong>3</strong> different venues<br/>
          involving <strong>47</strong> people
      </div>
    </div>
  
    <div class="row">
        <div class="five columns">
          <h5>Latest show vacancies</h5>
          <h5>Latest on camdram.net</h5>
            <section id="this_week">
              <h5>This week...</h5>
                <dl class="tabs contained three-up">
                    <dd class="active"><a href="#lastYear">last year</a></dd>
                    <dd><a href="#fiveYearsAgo">5 years ago</a></dd>
                    <dd><a href="#tenYearsAgo">10 years ago</a></dd>
                </dl>
                <ul class="tabs-content contained">
                    <li class="active" id="lastYearTab">A show</li>
                    <li id="fiveYearsAgoTab">Another show</li>
                    <li id="tenYearsAgoTab">Yet another show</li>
                </ul>
            </section>
        </div>
        <div class="seven columns">
            <h4>News</h4>
            <hr />
            {% for item in news %}
                {% include 'ActsCamdramBundle:News:item.html.twig' %}
            {% endfor %}
        </div>
    </div>


{% endblock %}
