<!doctype html>
<html>
<head>
        <title>Login to camdram</title>
</head>

<body>
<h1>camdram.net</h1>

<h2>Login</h2>

{% include "ActsCamdramSecurityBundle:Default:login.html.twig" %}

</body>
</html>
