<h5>This week:</h5>
<strong>{{ performance_num }}</strong> performances of <strong>{{ show_num }}</strong> shows<br />
are happening in <strong>{{ venue_num }}</strong> venues<br/>
involving <strong>{{ people_num }}</strong> people
