{% if shows | length > 0 %}
    <h4>{{ person.name }} is preparing for</h4>
    <ul class="large-block-list">
    {% for show in shows %}
        <li {{ include('person/show-header.html.twig') }}
            {{ show.description | camdram_markdown | truncateHTML(200) }}
        </li>
    {% endfor %}
    </ul>
{% endif %}
