<div class="row" xmlns="http://www.w3.org/1999/html">
    <!-- div class="twelve columns" -->
    {% spaceless %}
    {% set columnIdx = 0 %}
    {% set columnDate =  startDate %}
    {% set in_list = false %}
    {% for application in applications %}
        {% set columnDate = startDate|date_modify("+#{columnIdx} day") %}

        {% for i in range(0,6) %}
            {% if application.deadlinedate != columnDate %}
                {# Pad until we're in the right column #}
                {% if columnIdx == 0 and not in_list %}
                    <tr>
                {% endif %}
                {% if in_list == true %}
                    </td>
                    {% set in_list = false %}
                {% else %}
                    <td></td>
                {% endif %}
                {% set columnIdx = columnIdx + 1 %}
                {% if columnIdx > 6 %}
                    </tr>
                    {% set columnIdx = 0 %}
                {% endif %}
                {% set columnDate = startDate|date_modify("+#{columnIdx} day") %}

            {% endif %}
        {% endfor %}

        {% if columnIdx == 0 %}
            <tr>
        {% endif %}
        {% if not in_list %}
            <td><strong>Applications Deadline</strong><br>
            {% set in_list = true %}
        {% endif %}
        {% if application.society %}
            {{ application.society.name }}
        {% else %}
            {{ application.show.name }}
        {% endif %}
            <br>
    {% endfor %}
    
    {# Make sure the last row is complete  #}
    {% if in_list %}
        </td>
        {% set columnIdx = columnIdx + 1 %}
        {% if columnIdx > 6 %}
            </tr>
            {% set columnIdx = 0 %}
        {% endif %}
    {% endif %}
    {% for i in range(0,6) %}
        {% if columnIdx != 0 %}
            <td></td>
            {% set columnIdx = (columnIdx + 1) % 7 %}
        {% endif %}
    {% endfor %}
    </tr>
    {% endspaceless %}
    <!-- /div -->
</div>

