<!doctype html>
<html>
<head>
    <title>External Login test page</title>
</head>
<style>
    .important {
        font-weight:bold;
        color:red;
    }
</style>
<body>
<h1>External login test page</h1>

<form action="{{ path('acts_external_login_test_login', {service: service}) }}" method="post">

    <h2>Test log in using {{ service | capitalize }}</h2>
    <p class="important">For use during development only!</p>
    <p>Enter the details you would like to be returned to the authentication system.</p>

    <p>
        <label for="id">Account ID</label>
        <input type="text" name="id" id="id" />
    </p>

    <p>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
    </p>

    <p>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
    </p>

    <p>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
    </p>

    <p>
        <label for="picture">Profile picture URL</label>
        <input type="text" name="picture" id="picture" />
    </p>

    <p>
        <input type="submit" value="Submit"/>
    </p>
</form>
</body>
</html>