{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Forgotten Password{% endblock %}

{% block body %}

    {{ include("ActsCamdramAdminBundle:User:admin-panel.html.twig") }}

    <div class="row">
        <div class="large-12 columns">

            <p>A password reset email has been sent to <strong>{{ user.email }}</strong></p>

            <p>The URL in the e-mail is:</p>

            <pre>{{ url }}</pre>

        </div>
    </div>
{% endblock %}