{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'vacancies' %}

{% block body %}
<div class="row">
    <nav class="sidenav">
        {% include 'navigation/nav-items.html.twig'  with {items: {
        'auditions': {'text': 'Auditions', 'path': path('get_adverts')},
        'techies': {'text': 'Technical and designer roles', 'path': path('get_techies')},
        'applications': {'text': 'Producer/director roles and show applications', 'path': path('get_applications')},

        }, current_id: current_vacancies_id, noli: true} %}
    </nav>

    <main>
    <div class="split-header">{% block vacancies_header %}{% endblock %}</div>
    {% block vacancies_body %}{% endblock %}
    </main>
</div>
{% endblock %}
