{% extends 'ActsCamdramBundle::vacancies.html.twig' %}

{% block title %}Auditions Diary{% endblock %}
{% set current_vacancies_id='auditions' %}

{% block vacancies_body %}
    <ul class="inline-list right">
        <li><a href="{{ path('get_auditions') }}">List view</a></li>
        <li>Diary view</li>
    </ul>

<h3>Auditions</h3>

<div id="diary">
    {{ render_diary(diary) }}
</div>

{% endblock %}
