{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Diary{% endblock %}

{% block body %}

<div class="row" xmlns="http://www.w3.org/1999/html">
    <!-- div class="twelve columns" -->
    {% set columnIdx = 0 %}
    {% set columnDate =  startDate %}

    <!-- div simple example -->
    {{ dump(auditions) }}
    <!-- /div -->
</div>
{% endblock %}
