<p>
    From Lent Term 2022, the ADC Management team are offering the following guidance to
    students:
</p>

<ol>
    <li>No one should take on roles across multiple shows within the same week
        (regardless of show size or venue);</li>
    <li>No one should take on significant production roles across shows in
        consecutive weeks;</li>
    <li>Anyone involved in significant roles on either the Michaelmas Term
        Pantomime or Lent Term Musical should not take on any other roles beyond
        Week 4 of that same term.</li>
</ol>

<p>
    Significant production roles are explicitly defined as Producers, Directors,
    Musical Directors, Choreographers, Lighting Designers, Technical Directors,
    Sound Designers and Stage Managers. A more detailed version of the above
    guidance can be found in the Production Handbooks available on the
    <a href="https://www.adctheatre.com/guides">ADC's website</a>.
</p>
