{% extends 'layout.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block body %}
<h2 id="privacy">Privacy Policy</h2>

<div class="panel">

    <h4>Summary</h4>

    <p>This page describes what data this website collects about you.
    The general rule is that we try not to be evil;
    Camdram does store and log some information for particular purposes,
    but we do not disclose it to anyone without good reason.
    If you have any questions, please contact
    <a href="mailto:support@camdram.net?Subject=Privacy%20policy" target="_top">support@camdram.net</a>.
    </p>
</div>

<p>This page uses the same noun and pronoun definitions as our
<a href="{{ path('acts_camdram_userguidelines') }}">User Guidelines</a>.
For legal purposes, the data controller is the collective group of volunteers
who manage Camdram. Camdram is governed by English law.
We will provide any information we hold to authorities if required to by law.</p>

<p>We may update this Privacy Policy at any time. The applicable version
    is always the one accessible on this website. If we make significant
    changes, we will make reasonable efforts to tell registered users
    about the change, usually via email. If you continue to use Camdram,
    you agree to follow the latest version of the User Guidelines.
    </p>

<h4>Data collected whenever you visit this website</h4>

<ul>
    <li>Our web server collects the domain name and IP address of the
    host from which you access the internet; the operating system and
    browser software you use; the date and time you access each page; and
    the domain name of the site which linked to Camdram.

    <li>This data is used to determine the number of visitors to different
    sections of our site, and to create statistics about what browser or
    operating system they use. We do not use it to track or record personal
    information. The raw data is not disclosed to anyone outside the
    Camdram administrative team, with the exception of Google, our analytics
    provider (see Cookies section below).
    Anonymised statistics may be made publicly available.

</ul>

<h4>Data collected if you log in to Camdram</h4>

<ul>
    <li>If you choose to log in to Camdram, we collect and store the
        name and email address you have associated with the login provider
        you used (e.g. Raven, Facebook). By logging in, you consent to this and to
        us contacting you via email very occasionally, with essential information
        or queries regarding your use of Camdram.
        In general, this is no more than two or three emails per year.

    <li>The email address you register to your account may be visible to other
        Camdram users in some scenarios. For example, when a email is sent to a
        society's admins, it is sent with recipients visible to each other for clarity.

    <li>In the event of technical issues with the website, error messages are
        sent to Sentry (<a href="https://sentry.io" target="_blank">https://sentry.io</a>), to
        enable us to identify and resolve problems as quickly as possible. If you
        are logged in at the time, your email address is included in these error messages.
        This data is not public, but will be available to certain people outside
        the Camdram administrative team (for example, employees of Sentry).

    <li>If you configure your Camdram log in account to be able to use more than
        one login provider, we also store email addresses associated with the other
        accounts, and information about these links (for example,
        that a particular Facebook account is the same person as a particular Google
        account). This information is not disclosed to
        anyone outside the Camdram administrative team.

    <li>You may also provide optional personal information about yourself as part
        of your Camdram account. This information is used
        to obtain anonymous statistics about the users of our site.
        The raw data is not disclosed to anyone
        outside the Camdram administrative team. Anonymised statistics may
        be made publically available.

    <li>We log any administrative actions you take on the website while logged in.
        This is for debugging and security purposes. This information is not disclosed to
        anyone outside the Camdram administrative team.

    <li>We track the date and time of your last login. We use this to mark user accounts
        as dormant after two years of inactivity. Dormant accounts are routinely removed
        from Camdram and any associated user data is anonymised.
</ul>

<h4>Data added to Camdram by users</h4>

<ul>
    <li>Data contributed by site users is a fundamental part of Camdram's purpose.
        This includes personal information, particularly names of people involved
        with shows listed on Camdram.
    <li>This data is available publicly, both within Camdram and via other websites
        that reuse our data (including search engines and other websites).
    <li>This information is submitted and managed by Camdram users individually,
        rather than by the Camdram administrative team. Users submitting data to
        Camdram are subject to our <a href="{{ path('acts_camdram_userguidelines') }}">
        User Guidelines</a>.
    <li>Requests to correct or remove this user-managed data, where possible,
        should be made initially to the administrators for the particular show
        listing(s). Society or venue administrators can also help with these requests.
        Camdram provides contact forms for this purpose on show, society and venue pages.
    <li>You can also <a href="{{ path('acts_camdram_contact_us') }}">contact</a> the
        Camdram central administrative team with such requests if necessary. We will
        always respect our obligations under law regarding these requests. Please
        note, however, that we will need to verify identity before we can act, and
        that as volunteers, our response times may be slower.
    <li>If you feel another user is not complying with the User Guidelines,
        please contact us and we will investigate.
</ul>


<br/>

<h2 id="cookies">Cookies</h2>

<p>There are good explanations of what 'cookies' are on other websites, such as: </p>
<ul>
    <li><a href="http://www.bbc.co.uk/usingthebbc/cookies/what-do-i-need-to-know-about-cookies/" target="_blank">the BBC</a></li>
    <li><a href="https://ico.org.uk/your-data-matters/online/cookies/" target="_blank">the Information Commissioner's Office</a></li>
</ul>
<br/>

<h4>How does Camdram use cookies?</h4>

<p>Some cookies are strictly necessary in order for users to navigate
around the site correctly. Camdram uses a cookie to maintain information
about the current session, allowing a user to be uniquely identified between
pages as they navigate around the site.</p>

<p>A cookie is also used to enable the 'remember me' functionality
for logging in to Camdram. You only receive this cookie if you make use of that
feature for convenience.</p>

<p>Camdram uses Google Analytics to understand how our users interact with the site,
improve performance, and provide a better user experience.
Google Analytics is used by many popular websites (for example,
<a href="http://www.gov.uk" target="_blank">Gov.uk</a> or
<a href="http://www.bbc.co.uk" target="_blank">the BBC</a>)
and depends on cookies to work correctly. More information about
the cookies used by Google Analytics can be found
<a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank">here</a>.
If you want to opt out of these cookies, Google provide
<a href="https://tools.google.com/dlpage/gaoptout" target="_blank">a browser plug-in</a> for this.
</p>
{% endblock %}
