{% extends 'layout.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block body %}
<h2 id="privacy">Privacy Policy</h2>

<p>This page describes what data this website collects about you.
The general rule is that we try not to be evil;
camdram.net does store and log personal information if you create an
account with us, but we do not disclose it to anyone without good reason.
If you have any questions, please contact
<a href="mailto:support@camdram.net?Subject=Privacy%20policy" target="_top">support@camdram.net</a>.
</p>

<ul>
    <li>Our web server collects the domain name and IP address of the
    host from which you access the internet, the browser software you use
    and your operating system, the date and time you access each page, and
    the domain name of the site which linked to camdram.net.

    <li>This data is used to determine the number of visitors to different
    sections of our site, and to create statistics about what browser or
    operating system they use. We do not use it to track or record personal
    information. The raw data is not disclosed to anyone outside the
    camdram.net administrative team, with the exception of Google, our analytics
    provider—see below. Anonymised statistics may be made publicly available.

    <li>When you create an account on camdram.net, you may provide
    optional personal information about yourself. This information is used
    to obtain anonymous statistics about the users of our site, and to
    contact you if you are a society administrator with questions we may
    have about your society's shows. The raw data is not disclosed to anyone
    outside the camdram.net administrative team. Anonymised statistics may
    be made publically available.

    <li>In the event of technical issues with the website, error messages are
    sent to Sentry (<a href="https://sentry.io" target="_blank">https://sentry.io</a>), to
    enable us to identify and resolve problems as quickly as possible. If you
    are logged in at the time, your email address is included.

    <li>If you identify yourself by logging in to camdram.net, we log any
    administrative actions you take on the website. This is used for
    debugging and security purposes. This information is not disclosed to
    anyone outside the camdram.net administrative team.

    <li>The email address you register to your account may be visible to other
    relevant users in some scenarios. For example, when a email is sent to a
    society's admins, it is sent with recipients visible to each other for clarity.

    <li>We will provide any information to authorities if required to by law.
</ul>
<br/>

<h2 id="cookies">Cookies</h2>

<p>There are good explanations of what 'cookies' are on other websites, such as: </p>
<ul>
    <li><a href="http://www.bbc.co.uk/usingthebbc/cookies/what-do-i-need-to-know-about-cookies/" target="_blank">the BBC</a></li>
    <li><a href="https://ico.org.uk/your-data-matters/online/cookies/" target="_blank">the Information Commissioner's Office</a></li>
</ul>
<br/>

<h4>How does Camdram use cookies?</h4>

<p>Some cookies are strictly necessary in order for users to navigate
around the site correctly. Camdram uses a cookie to maintain information
about the current session, allowing a user to be uniquely identified between
pages as they navigate around the site.</p>

<p>Functionality cookies allow Camdram to enable the 'remember me' functionality
for logging in to Camdram.</p>

<p>Camdram uses Google Analytics to understand how our users interact with the site,
improve performance, and provide a better user experience.
Google Analytics is used by many popular websites (for example,
<a href="http://www.gov.uk" target="_blank">Gov.uk</a> or
<a href="http://www.bbc.co.uk" target="_blank">the BBC</a>)
and depends on cookies to work correctly. More information about
the cookies used by Google Analytics can be found
<a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank">here</a>.
If you want to opt out of these cookies, Google provide
<a href="https://tools.google.com/dlpage/gaoptout" target="_blank">a browser plug-in</a> for this.
</p>
{% endblock %}
