{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Camdram.net - sign in{% endblock %}

{% block body %}
    <div class="row">
        <h2>Sign in</h2>

        <p>With with service would you like to sign in?</p>
        <div class="row">
            <div class="eight columns">
                <div class="panel">
                    {% for service in camdram_security_services() %}
                        <li><a href="{{ path('camdram_security_entry_point', {service: service}) }}">{{ service | capitalize }}</a></li>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
