{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-12 columns"><h3>{{ page.title }}</h3></div>
    </div>
    <div class="row">
        {{ page.content|raw }}
    </div>
{% endblock %}

