{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
    <h4>Thank you for verifying your e-mail address</h4>
        {% if app.user %}
            <a class="button small" href="{{ path('acts_camdram_homepage') }}">Go to the home page</a>
        {% else %}
            <p>You can log back in to Camdram below</p>
            {{  include('ActsCamdramSecurityBundle:Default:login_form.html.twig', {error:false, last_email: confirm_user.email}) }}
        {% endif %}
    </div>
</div>
{% endblock %}
