<form action="{{ path("_security_check") }}" method="post">
    <button type="submit" name="_service" value="raven">Raven</button>
    <button type="submit" name="_service" value="facebook">Facebook</button>
    <button type="submit" name="_service" value="openid">OpenId</button>
</form>