{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
    <h4>Create a Camdram account</h4>
    <p>Thank you for creating a Camdram account.
        {% if not app.user.isEmailVerified %}An e-mail has been sent to the address provided with a link
            you can click on to verify your e-mail address.{% endif %}
    </p>

    <a class="button" href="{{ path('acts_camdram_homepage') }}">Go to the home page</a>

    </div>
</div>
{% endblock %}