{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
    <h4>Forgotten password</h4>
    <p>A password reset email has been sent to {{ email }}. If you encounter any problems, please contact
    <a href="mailto:websupport@camdram.net">websupport@camdram.net</a>.</p>

    <a class="button small" href="{{ path('acts_camdram_homepage') }}">Go to the home page</a>

    </div>
</div>
{% endblock %}