{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Forgotten Password{% endblock %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
    <h4>Forgotten password</h4>
    <p>If an account exists with the e-mail addrses <strong>{{ email }}</strong>, then you will shortly receive a
        message with further instructions.</p>
    <p>For security reasons, we cannot say here whether or not a match was found for this e-mail address, but if yo do
        not receive anything after 10 minutes then please contact
        <a href="mailto:websupport@camdram.net">websupport@camdram.net</a>
        and we will do what we can to help you regain access to your account.</p>

    <a class="button small" href="{{ path('acts_camdram_homepage') }}">Go to the home page</a>

    </div>
</div>
{% endblock %}