{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Link users{% endblock %}

{% block body %}

<form method="post" action="{{ path('acts_camdram_security_link_user') }}">
    <div class="row">
        <div class="large-12 columns">
            <h4>Link accounts</h4>
            <p>You have just successfully logged in
                {%- if link_user.type =='external' %} with your {{ link_user.service | capitalize }} account{% endif %},
                but you were already logged into Camdram with another account - what would you like to do?</p>
            <p>You can link the two accounts together, so that in future you can use either to log into your Camdram account
                , or you can keep them separate and stay logged into just one of the accounts.</p>
            <input type="submit" name="link" value="Link the two accounts together" class="button small"/>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            {{ include('ActsCamdramSecurityBundle:Default:link_user_panel.html.twig', {user: user, button_name: 'old'}) }}
        </div>
        <div class="large-6 columns">
            {{ include('ActsCamdramSecurityBundle:Default:link_user_panel.html.twig', {user: link_user, button_name: 'new'}) }}
        </div>
    </div>
</form>
{% endblock %}
