<form method="post" action="{{ path('camdram_security_local_login') }}">

    {{ form_widget(form) }}

    <div class="text-right"><input type="submit" value="Login" id="login_button" class="button"/> </div>
</form>