<form method="post" action="{{ path('acts_camdram_security_login_check') }}">

    <div class="row">
        <div class="large-3 columns">
            <label class="right inline{% if error %} error{% endif %}" for="form_email">Email</label>
        </div>
        <div class="large-9 columns">
            <input type="text" id="form_email" name="email" required="required" value="{{ last_email }}"{% if error %} class="error"{% endif %} />
        </div>
    </div>

    <div class="row">
        <div class="large-3 columns">
            <label class="right inline required{% if error %} error{% endif %}" for="form_password">Password</label>
        </div>
        <div class="large-9 columns">
            <input type="password" id="form_password" name="password" required="required"{% if error %} class="error"{% endif %} />
        </div>
    </div>

    <div class="row">
        <div class="large-9 columns large-offset-3">
            <label for=form_remember_me><input type="checkbox" id="form_remember_me" name="_remember_me" value="1" />
                Automatically log in on this computer next time
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <a href="{{ path('acts_camdram_security_forgotten_password') }}">Forgotten password?</a>
        </div>
        <div class="large-6 columns text-right">
            <input type="submit" value="Log in" id="login_button" class="button"/>
        </div>
    </div>
</form>
