{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns">

        <h4>Log in to Camdram</h4>
        
        {% if has_role('IS_AUTHENTICATED_REMEMBERED') %}
        <p class="panel">For security reasons, you must log in again before accessing this page.</p>
        {% endif %}

        {% if error is defined %}
            <div class="error_panel">
            <p>{{ error }}</p>
                <p>Either the username or password is invalid - please try again</p>
            </div>
        {% endif %}

        {{ render(path('hwi_oauth_connect')) }}
        
        <p>Or, use your e-mail address and password:</p>

        {{ render(path('acts_camdram_security_login_password')) }}
    </div>
</div>
{% endblock %}
