<p>Please fill in the details below to register with camdram</p>
<form action="{{ path('camdram_security_new_user') }}" method="post">
    {{ form_widget(form) }}

    <p><input type="submit" value="Register"/> </p>
</form>