{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block body %}
<h2>Find user</h2>
    <p>This is the first time you have logged in with your {{ service.getName() | capitalize }} account.</p>
    <p>Do you have an existing camdram account? If so, please enter your login details below to import your existing account
        details.</p>
    <form method="post" action="{{ path('camdram_security_no_existing_user') }}">
        {{ form_widget(form) }}

        <p><input type="submit" value="Login"/> </p>
    </form>

    <p>Otherwise, click below to create a new account.</p>
    <form method="post" action="{{ path('camdram_security_no_existing_user') }}">
        <p><button type="submit" name="new_user" value="1">No, create a new account</button></p>
    </form>
{% endblock %}