<li id="admin-link" class="dropdown-link">
    <a href="#">Administration</a>
    <ul id="admin-dropdown" class="dropdown">
        <li><a href="{{ path('get_users') }}">User Admin</a></li>
    </ul>
</li>