<li id="admin-link" class="dropdown-link">
    <a href="#">Administration</a>
    <ul id="admin-dropdown" class="topbar-dropdown">
        <li><a href="{{ path('get_users') }}"><i class="fa fa-user fa-fw"></i> User Admin</a></li>
    </ul>
</li>