{% extends 'layout.html.twig' %}

{% block title %}New access control entry{% endblock %}

{% block body %}

    <div class="row">
        <h3>New access control entry</h3>
        {% include 'user/ace-new-form.html.twig' %}
    </div>

{% endblock %}
