/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.top-bar.attached {
    width:1000px;
    max-width:100%;
    margin:auto;
}

.nav-bar input[type=search] {

    padding:4px;
    min-width:200px;
    height:22px;
    margin:0;
}

.row .nav-bar form .row {
    margin:4px;
}

@media only screen and (max-width: 767px) {
    .nav-bar form .row {
        padding-top:17px;
    }
}

.nav-bar button {
    padding:8px;
}

.news_link p {
    font-size:80%;
}
.row .news_link.panel {
    padding:10px;
    margin-bottom:10px;
}

.news_link h6 {
    margin:0;
}

.news_link .columns {
    padding:0 3px;
    margin-top:5px;
    margin-bottom:7px;
}

#news_container .news_social_links {
    margin-bottom:0;
}


/* -----------------------------------------
   Home Page
----------------------------------------- */

#this_week dd a {
    padding: 0 5px;
}

#home_statistics {
    text-align:right;
    font-style:italic;
    line-height:150%;
}
#home_statistics strong {
    font-size:150%;
}

/*---------------------------------------
   Entities
-----------------------------------------*/

#entity_news {
    height:500px;
    overflow-y:scroll;
    overflow-x:hidden;
    padding:10px;
    padding-right:15px;
    border: 1px solid #AAA;
}

#entity_news p {
    font-size:10px;
}

#entity_news h6 {
    font-size:11px;
}

img.has_media {
    cursor: pointer;
}


/* -----------------------------------------
   Venues
----------------------------------------- */

.small_map {
    height:270px;
}

.large_map {
    height:300px;
}

@media only screen and (max-width: 767px) {
    .large_map {
        height: 250px;
    }
}


#venues_list .marker_column {
    text-align: center;
    margin-top:15px;
}

#venues_list .marker_img {
    cursor: pointer;
}